/*==========================
      Project Base
==========================*/
@import "directional";
.container {
	padding: 0px;
}
.modal-backdrop {
	background: rgba(65,65,81,.8);
	&.in {
		opacity: 1;
	}
}
/*==========================
      Universal CSS
==========================*/
.hm-heading-row {
	@include fullWidth();
	padding: 0 50px;
	margin-bottom: 22px;
	h1 {
		font-family: $font-lato;
		font-size: 20px;
		color: #6692C5;
		line-height: 1.1;
		letter-spacing: 4px;
		margin: 17px 0 6px;
		span {
			display: block;
			font-family: $font-latoblack;
			font-size: 33px;
			color: #303863;
			letter-spacing: 7px;
		}
	}
}
.btn-white {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: $white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $white;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 7px 25px;
	&:hover {
		background-color: $white;
		color: $white;
		text-decoration: none;
	}
}
.btn-blue {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: $base-color;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $base-color;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 7px 25px;
	&:hover {
		background-color: $base-color;
		color: $white;
		text-decoration: none;
	}
}
.btn-green {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: $green;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $green;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 6px 38px 4px;
	&:hover {
		background-color: $green;
		color: $white;
		text-decoration: none;
	}
}
.btn-purple {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: #323A64;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #323A64;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 11px 32px 9px;
	&:hover {
		background-color: #323A64;
		color: #fff;
		text-decoration: none;
	}
}
.btn-dark-gray {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: $white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $white;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 11px 32px 9px;
	&:hover {
		background-color: $white;
		color: #333;
		text-decoration: none;
	}
}
.btn-red {
	display: inline-block;
	background-color: transparent;
	font-family: $font-latoblack;
	font-size: 9px;
	color: #D90000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #D90000;
	@include border-radius(28px);
	@include transition(all,ease-in-out,1s);
	padding: 11px 32px 9px;
	&:hover {
		background-color: #D90000;
		color: $white;
		text-decoration: none;
	}
}
.client-logos {
	@include fullWidth();
	ul {
		@include fullWidth();
		list-style: none;
		padding: 0;
		margin: 0 0 30px;
		li {
			display: table;
			float: $left;
			width: 25%;
			margin-bottom: 50px;
			&:nth-last-child(-n+4) {
				margin-bottom: 0px;
			}
			a {
				display: table-cell;
				width: 100%;
				text-align: center;
				vertical-align: middle;
				img {
					max-width: 100%;
					margin: 0px auto;
				}
			}
		}
	}
}
.page-heading {
	@include fullWidth();
	h1 {
		@include fullWidth();
		font-family: $font-latoblack;
		font-size: 26px;
		color: $base-color;
		line-height: normal;
		text-transform: uppercase;
		margin: 0 0 17px;
	}
}
.modal-body {
	display: inline-block;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
	position: relative;
	display: inline-block;
}
.lds-spinner div {
  left: 49px;
  top: 0px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #346CB2;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 83px !important;
  height: 83px !important;
  -webkit-transform: translate(-41.5px, -41.5px) scale(0.415) translate(41.5px, 41.5px);
  transform: translate(-41.5px, -41.5px) scale(0.415) translate(41.5px, 41.5px);
}
/*// Bootstrap model center*/
body.modal-open {
	position: fixed;
}
@media only screen and (min-width: 1050px) {
	.modal {
		text-align: center;
		padding: 0!important;
	}
	.modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	.modal-dialog {
		display: inline-block;
		vertical-align: middle;
	}
}
input:focus, a:focus, button:focus, textarea:focus {
	outline: none ;
}
.displayInlineTop {
	display: inline-block;
	vertical-align: top;
}
.displayBlock100 {
	display: block;
	width: 100%;
}
textarea,input[type="text"],input[type="email"],input[type="file"],input[type="search"],input[type="password"],input[type="datetime"],input[type="date"],input[type="month"],input[type="time"],input[type="tel"],input[type="url"],input[type="image"],input[type="week"],select {
	float: $left;
	background-color: $white;
	width: 100%;
	height: 34px;
	font-family: $font-latoblack;
	font-size: 9px;
	color: #374C8D;
	@include border-radius(20px);
	border: 0px;
	padding: 0 14px;
	margin: 0;
	&.has-error {
		border-color: $error_color;
	}
}
body select {
	background-image: url(../images/arrowD.png);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-size: auto auto;
	&:focus {
		outline: none;
	}
}
select::-ms-expand {
  display: none;
}

textarea {
  height: auto;
  min-height: 90px;
  padding-top: 11px;
  resize: none;
}

input::-webkit-input-placeholder    {opacity:1; }
input:-moz-placeholder              {opacity:1; }
input::-moz-placeholder             {opacity:1; }
input:-ms-input-placeholder         {opacity:1; }

textarea::-webkit-input-placeholder    {opacity:1; }
textarea:-moz-placeholder              {opacity:1; }
textarea::-moz-placeholder             {opacity:1; }
textarea:-ms-input-placeholder         {opacity:1; }



input[type=checkbox]:not(old), input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

/*Unique input layout style*/
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  /*margin-left  : -28px;
  padding-left : 28px;*/
  background   : url('../images/checks.png') no-repeat top left;
}
input[type=radio   ]:not(old) + label {
  background   : url('../images/radioBtns.png') no-repeat top left;
}
input[type=checkbox]:not(old):checked + label{
  background-position : bottom left;
}
input[type=radio]:not(old):checked + label{
  background-position : bottom left;
}

.paddingTop0 {padding-top: 0;}
