/*==========================
      Project Base
==========================*/
$base-color:    #3873cb;
$foreground-color: #404051;
$golden :       #84724D;
$darkGray :     #333333;
$white :        #ffffff;
$black:    		#000;
$beachColor :   #C1B9A6;
$green:         #739F5C;
$darkGolden:    #56483B;
$blackBelt:     #222222;
$blackBeltCol:  #9F9277;
$headerBg :     #1c2931;
$headingBar_bg: #222222;
$headingBar_cl: #9F9277;
$offersSec_bg:  #e7e1c9;
$tatra777:      #777777;
$error_color:   #d90000;
$danger_color:  #d80100;
$table_bg_cl:   #eeeeee;
$btn_black:     #1c2931;
$headingColor:  #1D2730;
$yellow :       #ffbd03;
$blackColor:    #0c0c0c;

$font-gstm:     	'ge_ss_two_medium';
$font-lato:     	'latoregular';
$font-latoblack: 	'Lato-Black';
$font-latolight: 	'latolight';
$font-latobold: 	'latobold';

/*==========================
      Universal CSS
==========================*/