@charset "utf-8";
// Import helpers from directional.scss
@import "directional";
// Use the helpers to make CSS for LTR or RTL
body {
	min-width: 320px;
	direction: if-rtl(rtl, ltr);
	background-color: $white;
	line-height: if-rtl(1.3);
	visibility: visible !important;
	word-break: break-word;
}
ul,ol,li,form {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:hover {
	@include transition(all, 0.5s, ease-in);
	color: $darkGray;
}
body,html {
	height: 100%;
	min-height: 100%;
}
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}

select {
	background-position: if-ltr(right, left) center;
}
.btn,.edBtn,.btn-success {
	@include transition-duration(0.5s);
}

/*======================================
      Bootstrap css for START
  ======================================*/

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	float: $left;
}

@media (min-width: 768px) {
	.col-sm-1,	.col-sm-2,	.col-sm-3,	.col-sm-4,	.col-sm-5,	.col-sm-6,	.col-sm-7,	.col-sm-8,	.col-sm-9,	.col-sm-10,	.col-sm-11,	.col-sm-12 {
		float: $left;
	}
}

@media (min-width: 992px) {
	.col-md-1,	.col-md-2,	.col-md-3,	.col-md-4,	.col-md-5,	.col-md-6,	.col-md-7,	.col-md-8,	.col-md-9,	.col-md-10,	.col-md-11,	.col-md-12 {
		float: $left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1,	.col-lg-2,	.col-lg-3,	.col-lg-4,	.col-lg-5,	.col-lg-6,	.col-lg-7,	.col-lg-8,	.col-lg-9,	.col-lg-10,	.col-lg-11,	.col-lg-12 {
		float: $left;
		@include absolute(0, if-ltr(0, auto), auto, if-ltr(auto, 0));
		margin-#{$right}: 20px;
	}
}
.pull-left {
	float: $left !important;
}
.pull-right {
	float: $right !important;
}
.pull-none {
	float: none !important;
}
.text-left {
	text-align: $left;
}
.text-right {
	text-align: $right;
}

/*======================================
    Bootstrap css for  END
======================================*/


/*======================================
    Common Css  END
======================================*/
img {
	@include img-responsive();
}
button[type="button"].close {
	@include absolute(-13px,if-ltr(-15px,auto),auto,if-ltr(auto,-15px));
	display: inline-block;
	background-color: #356CB2;
	width: 30px;
	height: 30px;
	font-weight: normal;
	border: 2px solid $white;
	@include border-radius(20px);
	opacity: 1;
	color: $white;
	z-index: 9999;
}
/* Select */
.material .material-select {
	position: relative;
	width: 100%;
	z-index: 3;
}
.material .material-select input {
	position: static;
	display: none;
	width: 100%;
	margin: 0px;
}
.material .material-select > label {
	position: relative !important;
	top: 0px !important;
	#{$left}: 0px !important;
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	cursor: pointer;
	pointer-events: auto !important;
	padding: 0;
	margin: 0;
	span {
		color: #374C8C !important;
	}
}
.material .material-select > label strong {
	position: absolute;
	#{$right}: 0;
	top: 40%;
	background: url(../images/bg-select.jpg) no-repeat;
	width: 14px;
	height: 8px;
}
.material .material-select > .material-title {
	position: absolute;
	top: 18px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	display: none;
}
.material .material-select > input:checked + .material-title, .material .material-select.filled > .material-title {
	top: 0;
	opacity: 1;
	visibility: visible;
	display: none;
}
.material .material-select > input:checked ~ ul {
	visibility: visible;
	opacity: 1;
	top: 0px;
	max-height: 150px;
	overflow-y: auto;
}
.material .material-select ul {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 100%;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	margin: 0;
	z-index: 2;
}
.material .material-select ul li {
	position: relative;
	@include fullWidth();
	border-bottom: 1px solid #374C8C;
	z-index: 4;
}
.material .material-select ul li label {
	position: static;
	@include fullWidth();
	background: none;
	cursor: pointer;
	padding: 5px 10px;
	pointer-events: auto;
}
.material .material-select ul li input:checked + label, .material .material-select ul li:hover input:checked + label {
	font-weight: 400
}
.material .material-select ul li label:hover {
	background: #f5f5f5
}
.material .material-select > input:checked + .material-bar {
	top: 22px;
}
.material .material-select .material-bar {
	height: 2px;
	background: #0000ff;
	width: 0;
	bottom: auto;
	top: 56px;
}
.menu-opener {
	display: none;
}
.menu-opener {
	display: none;
	position: relative;
	float: right;
	width: 34px;
	height: 34px;
	border: 2px solid $base-color;
	margin: 14px 0 0;
	@include transition(all, 0.2s, linear);
	z-index: 9999;
	@media (max-width:1024px) {
		display:block;
		position: absolute;
		top: 0px;
		#{$right}: 0px;
	}
	&:hover {
		border-color:$base-color;
		&:after, &:before, span {
			background:$base-color;
		}
	}
	 &:before, &:after, span {
		top:69%;
		left:7px;
		right:7px;
		height:2px;
		display:block;
		margin-top:-7px;
		position:absolute;
		background:$base-color;
		@include transition(all, 0.2s, linear);
	}
	 &:before, &:after {
		top:49%;
		content:'';
	}
	 &:after {
		top:92%;
	}
}
/* Select */
/*======================================
        Header  END
======================================*/

.header {
	position: relative;
	@include fullWidth();
	z-index: 2;
	.top-header {
		@include fullWidth();
		background-color: $base-color;
		text-align: $right;
		padding: 7px 0;
	}
	.search-box {
		display: inline-block;
		vertical-align: top;
		input[type="search"] {
			display: inline-block;
			width: 266px;
			height: 25px;
			font-family: $font-lato;
			font-size: 12px;
			color: $foreground-color;
			@include border-radius(25px);
			border: 0;
			padding: 0 10px;
			@include placeholder-text-transform(#C7C7C7, uppercase);
		}
	}
	.lang-box {
		display: inline-block;
		vertical-align: top;
		line-height: 26px;
		margin-#{$left}: 68px;
		a {
			font-family: $font-gstm, $font-lato;
			font-size: 14px;
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.btm-header {
		@include fullWidth();
		padding: 20px 0 14px;
		.container {
			position: relative;
		}
	}
	.logo {
		float: $left;
		max-width: 24%;
		a {
			display: inline-block;
		}
		img {
			@include img-responsive();
		}
	}
	.nav {
		float: $right;
		width: 100%;
		max-width: 75%;
		text-align: $left;
		/*margin-#{$right}: -23px;*/
		.lang-box {
			display: none;
		}
		ul {
			list-style: none;
			text-align: $right;
			letter-spacing: -5px;
			padding: 0;
			margin: 0;
			li {
				position: relative;
				float: none;
				display: inline-block;
				text-align: $left;
				letter-spacing: 0px;
				&:hover {
					background: #F4F4F4;
					/*font-weight: bold;*/
					> a {
						color: $base-color;
					}
					ul {
						display: block;
					}
				}
				&.active {
					background: #F4F4F4;
					/*font-weight: bold;*/
					> a {
						color: $base-color;
					}
				}
				&:last-child {
					margin-right: 0px;
				}
				a {
					float: $left;
					width: 100%;
					font-family: $font-latobold;
					font-size: 11px;
					color: $foreground-color;
					line-height: normal;
					text-decoration: none;
					letter-spacing: if-ltr(2px,0);
					padding: if-ltr(33px,25px) 22px if-ltr(25px,22px);
				}
				ul {
					display: none;
					@include absolute(70px,auto,auto,if-ltr(0,auto));
					float: $left;
					width: 205px;
					background: #F4F4F4;
					padding: 28px 21px 39px;
					li {
						position: relative;
						@include fullWidth();
						a {
							color: #3F3F51;
							padding: 0 0 if-ltr(27px,15px);
						}
						&:hover {
							a {
								color: $base-color;
							}
							ul {
								display: block;
							}
						}
						&:last-child {
							a {
								padding-bottom: 0px;
							}
						}
						> ul {
							display: none;
							position: absolute;
							#{$left}: 113%;
							top: auto;
						}
					}
				}
			}
		}
	}
}
.banner-sec {
	position: relative;
	@include fullWidth();
	margin: 0 0 40px;
	z-index: 1;
	&:after {
		content: "";
		@include absolute(auto,0,-40px,0);
		background: url(../images/bg-blue.png) repeat;
		width: 100%;
		height: 100px;
		z-index: -1;
	}
	.carousel.slide {
		@include fullWidth();
		.item {
			&:before {
				content: "";
				@include absolute(0,auto,0,0);
				background: url(../images/slider-shadow-1.png) no-repeat;
				width: 647px;
				height: 100%;
				z-index: 1;
			}
			&:after {
				content: "";
				@include absolute(0,0,0,auto);
				background: url(../images/slider-shadow-2.png) no-repeat;
				width: 214px;
				height: 218px;
				z-index: 1;
			}
			&:nth-child(odd) {
				.banner-readmore {
					@include fullWidth();
					margin-top: 22px;
					a {
						display: inline-block;
						background-color: #ffc323;
						font-family: $font-latoblack;
						font-size: 9px;
						color: #333333;
						border: 1px solid #ffc323;
						@include border-radius(25px);
						@include transition(all,ease-in-out,1s);
						padding: 10px 54px 11px;
						&:hover {
							background-color: transparent;
							color: $white;
							border: 1px solid #ffc323;
							text-decoration: none;
						}
					}
				}
			}
			&:nth-child(even) {
				.banner-readmore {
					@include fullWidth();
					margin-top: 22px;
					a {
						display: inline-block;
						background-color: #6692C8;
						font-family: $font-latoblack;
						font-size: 9px;
						color: $white;
						border: 1px solid #6692C8;
						@include border-radius(25px);
						@include transition(all,ease-in-out,1s);
						padding: 10px 54px 11px;
						&:hover {
							background-color: transparent;
							color: $white;
							border: 1px solid #6692C8;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.caption-wrap {
		@include absolute(0,0,0,0);
		@include fullWidth();
		height: 100%;
		padding: 0 50px;
		z-index: 2;
		&:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.caption {
			display: inline-block;
			max-width: 570px;
			vertical-align: middle;
			text-align: $left;
			h1 {
				font-family: $font-latoblack;
				font-size: 31px;
				color: $white;
				letter-spacing: if-ltr(10px,0);
				margin: 0;
			}
			p {
				font-family: $font-lato;
				font-size: 19px;
				color: $white;
				letter-spacing: if-ltr(4px,0);
				margin: 0;
			}
		}
	}
	.carousel-indicators {
		@include absolute(30px,if-ltr(46px,auto),auto,if-ltr(auto,46px));
		width: auto;
		text-align: $left;
		margin: 0px;
		li {
			width: 6px;
			height: 6px;
			background-color: #ffc323;
			border: 0px;
			vertical-align: top;
			margin: 0 if-ltr(0,20px) 0 if-ltr(20px,0);
			&.active {
				position: relative;
				top: -4px;
				display: inline-block;
				background: url(../images/banner-icon.png) no-repeat;
				width: 14px;
				height: 13px;
			}
		}
	}
	.raq-box {
		@include absolute(auto,if-ltr(0px,auto),-143px,if-ltr(auto,0px));
		display: inline-block;
		background: url(../images/bg-raq-box.png) no-repeat;
		@include background-size(100%);
		width: 273px;
		height: 194px;
		padding: 38px 26px;
		z-index: 10;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				@include fullWidth();
				color: $base-color;
				border-bottom: 1px solid #D8D8D8;
				font-size: 10px;
				padding: 0 0 15px;
				margin-bottom: 14px;
				&:last-child {
					border-bottom: 0px;
					padding-bottom: 0px;
					margin-bottom: 0px;
					a {
						@extend .btn-blue;
						margin-#{$left}: 20px;
					}
				}
				.or {
					text-transform: uppercase;
					color: rgba(45,100,171,.65);
				}
				i {
					font-size: 12px;
					margin-#{$right}: 20px;
				}
			}
		}
	}
}
.hm-content {
	position: relative;
	@include fullWidth();
	text-align: center;
	z-index: 0;
	&:before {
		content: "";
		@include absolute(auto,0,auto,0);
		background: url(../images/bg-blue.png) repeat;
		width: 100%;
		height: 19px;
		z-index: -1;
	}
	.container {
		display: inline-block;
		background: url(../images/bg-home-container.png) no-repeat top center;
		@include background-size(100%);
		text-align: $left;
		padding: 88px 50px 93px;
	}
	.about-sec {
		position: relative;
		@include fullWidth();
	}
	.about-vid {
		@include absolute(60px,if-ltr(auto,-75px),auto,if-ltr(-25px,auto));
		width: 60px;
		font-family: $font-latoblack;
		font-size: 9px;
		color: #d90000;
		text-orientation: upright;
		transform: rotate(-90deg);
		transform-origin: left top 0;
		text-transform: uppercase;
	}
	.about-left {
		position: relative;
		float: $left;
		width: 39.4%;
		height: 295px;
		img {
			float: left;
			width: 100%;
			height: 100%;
			&#video-btn {
				@include absolute(0,0,0,0);
				display: inline-block;
				width: 80px;
				height: 80px;
				cursor: pointer;
				margin: auto;
			}
		}
	}
	.about-right {
		float: $left;
		width: 60.6%;
		padding-#{$left}: 55px;
		h1 {
			font-family: $font-lato;
			font-size: 20px;
			color: #6692C5;
			line-height: 1.1;
			letter-spacing: if-ltr(4px,0);
			margin: 17px 0 6px;
			span {
				display: block;
				font-family: $font-latoblack;
				font-size: 33px;
				color: #303863;
				letter-spacing: if-ltr(7px,0);
			}
		}
		p {
			font-family: $font-latoblack;
			font-size: 11px;
			color: #404051;
			letter-spacing: if-ltr(.8px,0);
			line-height: 2.5;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0px;
				a {
					@extend .btn-green;
				}
			}
		}
	}
}
.hm-pro-sec {
	@include fullWidth();
	margin-bottom: 89px;
	.product-sec {
		@include fullWidth();
		.product-box {
			position: relative;
			float: $left;
			width: 25%;
			height: 300px;
			overflow: hidden;
		}
		.product-thumb {
			position: relative;
			@include fullWidth();
			img {
				width: auto;
				height: 100%;
			}
		}
		.product-title {
			@include absolute(auto,0,0,0);
			@include fullWidth();
			display: table;
			height: 100%;
			@include transition(all 0.5s ease-in-out);
			vertical-align: bottom;
			transform: translateY(0%);
			padding: 0px 28px 24px;
			h2 {
				display: table-cell;
				font-family: $font-latoblack;
				font-size: 26px;
				font-weight: normal;
				color: $white;
				line-height: 1.2;
				vertical-align: bottom;
				margin: 0;
				span {
					display: block;
					font-family: $font-lato;
					font-size: 18px;
					line-height: normal;
					text-transform: uppercase;
				}
			}
		}
		.product-desc {
			@include absolute(auto,0,0,0);
			@include fullWidth();
			@include transition(all 0.5s ease-in-out);
			transform: translateY(100%);
			padding: 18px 28px 25px;
			&:before {
				content: "";
				@include absolute(0,0,0,0);
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			h2 {
				position: relative;
				font-family: $font-lato;
				font-size: 16px;
				font-weight: normal;
				color: $white;
				line-height: 1.2;
				letter-spacing: if-ltr(1.5px,0);
				z-index: 1;
				margin: 0 0 8px;
				span {
					display: block;
					font-family: $font-lato;
					font-size: 18px;
					line-height: normal;
					text-transform: uppercase;
				}
			}
			p {
				position: relative;
				font-family: $font-lato;
				font-size: 11px;
				font-weight: normal;
				color: $white;
				line-height: 1.2;
				z-index: 1;
			}
			.prodesc-btn {
				position: relative;
				@include fullWidth();
				z-index: 1;
				a {
					@extend .btn-dark-gray;
				}
			}
		}
	}
	.product-box {
		&:hover {
			.product-thumb {
				&:before {
					transform: translateY(-100%);
				}
			}
			.product-title {
				transform: translateY(-100%);
			}
			.product-desc {
				transform: translateY(0%);
				&:before {
					transform: translateY(0%);
				}
			}
		}
		.product-thumb {
			&:before {
				content: "";
				@include absolute(0,0,0,0);
				display: inline-block;
				width: 100%;
				height: 100%;
				@include transition(all 0.5s ease-in-out);
				transform: translateY(0%);
			}
		}
		&#pro-box-1 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(81,133,53,.72);
				}
			}
		}
		&#pro-box-2 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(255,195,39,.79);
				}
			}
		}
		&#pro-box-3 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(94,43,21,.69);
				}
			}
		}
		&#pro-box-4 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(102,146,200,.6);
				}
			}
		}
		&#pro-box-5 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(102,146,199,.83);
				}
			}
		}
		&#pro-box-6 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(29,34,61,.74);
				}
			}
		}
		&#pro-box-7 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(217,0,0,.7);
				}
			}
		}
		&#pro-box-8 {
			.product-thumb, .product-desc {
				&:before {
					background-color: rgba(193,138,36,.76);
				}
			}
		}
	}
}
.hm-partners {
	@include fullWidth();
	margin-bottom: 103px;
	.hm-heading-row {
		margin-bottom: 71px;
	}
	.partners-wrap {
		.more-logos {
			@include fullWidth();
			text-align: center;
			margin-top: 47px;
			a {
				@extend .btn-purple;
			}
		}
	}
}
.hm-showrooms {
	position: relative;
	@include fullWidth();
	margin-bottom: 77px;
	.showrooms-wrap {
		@include fullWidth();
		letter-spacing: -5px;
		padding: 0 50px;
	}
	.showrooms-left {
		position: relative;
		display: inline-block;
		width: 74%;
		vertical-align: middle;
		letter-spacing: 0px;
		img {
			float: $left;
			max-width: 100%;
			height: auto;
		}
	}
	.showrooms-right {
		position: relative;
		display: inline-block;
		width: 26%;
		vertical-align: middle;
		letter-spacing: 0px;
		padding: 0 if-ltr(0,60px) 0 if-ltr(60px,0);
		h1 {
			position: relative;
			background: url(../images/location-icon.png) no-repeat if-ltr(0 0,100% 0);
			font-family: $font-latoblack;
			font-size: 25px;
			color: #444;
			line-height: normal;
			padding: 38px 0 12px;
			margin: 0 0 14px;
			span {
				display: block;
				font-family: $font-lato;
				font-size: 22px;
			}
			&:before {
				@include absolute(auto,if-ltr(0,-60px),0,if-ltr(-60px,0));
				content: "";
				display: inline-block;
				background-color: #C8C8C8;
				width: calc(100% + 60px);
				height: 1px;
			}
		}
		p {
			font-family: $font-lato;
			font-size: 11px;
			color: #1D1F3D;
			span {
				display: block;
			}
		}
		.view-map {
			@include fullWidth();
			a {
				@extend .btn-red;
			}
		}
	}
}
/*======================================
        Footer  END
======================================*/
.footer {
	position: relative;
	@include fullWidth();
	.footer-top {
		@include fullWidth();
		background-color: #F0F2F5;
		padding: 25px 0;
		&:before {
			content: "";
			@include absolute(0,0,0,0);
			@include fullWidth();
			background: url(../images/bg-footer.png) repeat;
			height: 100%;
			z-index: 0;
		}
		.container {
			position: relative;
			width: 866px;
			z-index: 2;
		}
		.footer-col {
			float: $left;
			width: 19.8%;
			padding-#{$right}: 20px;
			&:nth-child(1) {
				width: 30%;
			}
			&:last-child {
				width: 10.6%;
				padding-#{$right}: 0px;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					margin-bottom: 4px;
					a {
						font-family: $font-lato;
						font-size: 11px;
						font-weight: bold;
						color: #3366B2;
						text-decoration: none;
						text-transform: uppercase;
						line-height: normal;
						letter-spacing: if-ltr(2px,0);
						&:hover {
							text-decoration: underline;
						}
					}
					ul {
						margin: 5px 0 0;
						li {
							@include fullWidth();
							a {
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					&.has-dropdown {
						>a {
							color: #000;
						}
					}
				}
			}
		}
	}
	.footer-btm {
		@include fullWidth();
		background-color: #304B78;
		z-index: 2;
		&:before {
			content: "";
			@include absolute(0,0,0,0);
			@include fullWidth();
			background: url(../images/bg-footer.png) repeat;
			height: 100%;
			z-index: 0;
		}
		.container {
			position: relative;
			z-index: 2;
		}
		.footer-left {
			float: $left;
			min-width: 320px;
			padding: 32px 0 24px;
			.copyrights {
				float: $left;
				p {
					font-family: $font-latolight;
					font-size: 10px;
					color: $white;
					line-height: normal;
					letter-spacing: if-ltr(2px,0px);
				}
			}
			.information {
				float: $right;
				a {
					font-family: $font-latolight;
					font-size: 10px;
					color: $white;
					line-height: normal;
					text-decoration: none;
					letter-spacing: if-ltr(2px,0px);
				}
			}
		}
		.footer-right {
			float: $right;
			padding: 32px 0 0;
			.footer-mail {
				float: $left;
				margin-#{$right}: 70px;
				img {
					display: inline-block;
					margin-#{$right}: 9px;
				}
				a {
					font-family: $font-lato;
					font-size: 11px;
					color: $white;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.footer-number {
				float: $left;
				margin-#{$right}: 100px;
				img {
					display: inline-block;
					margin-#{$right}: 9px;
				}
				a {
					font-family: $font-lato;
					font-size: 11px;
					color: $white;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.footer-sm-links {
				float: $left;
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						float: $left;
						margin-#{$right}: 20px;
						&:last-child {
							margin-#{$right}: 0px;
						}
						a {
							font-size: 20px;
							color: $white;
						}
					}
				}
			}
		}
	}
}

/*======================================
      Main Section
=======================================*/
.main {
	position: relative;
	@include fullWidth();
	&:before {
		content: "";
		@include absolute(21px,0,auto,0);
		background: url(../images/bg-blue.png) repeat;
		width: 100%;
		height: 206px;
		z-index: -1;
	}
}
.content-wrap {
	position: relative;
	@include fullWidth();
	background-color: $white;
	background-image: url(../images/content-wrap-before.png), url(../images/content-wrap-after.png);
	background-repeat: no-repeat;
	background-position: top left, top right;
	border-top: 1px solid #DDD;
	padding: 43px 55px 50px;
}
.left-sidebar {
	float: $left;
	width: 25%;
	padding-top: 22px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			width: 100%;
			padding-#{$right}: 20px;
			padding-bottom: 46px;
			a {
				font-family: $font-latobold;
				font-size: 11;
				color: #3f3f51;
				letter-spacing: if-ltr(1px,0);
				line-height: normal;
			}
			&:last-child {
				padding-bottom: 20px;
			}
			&.active {
				a {
					color: #2c6cb2;
				}
			}
		}
	}
}
.right-content {
	float: $left;
	width: 75%;
	padding-top: 20px;
	h1 {
		@include fullWidth();
		font-family: $font-latoblack;
		font-size: 26px;
		color: #2D61AC;
		line-height: normal;
		letter-spacing: if-ltr(5px,0px);
		text-transform: uppercase;
		margin: 0 0 17px;
	}
	h2 {
		@include fullWidth();
		font-family: $font-latobold;
		font-size: 12px;
		color: $base-color;
		line-height: normal;
		margin: 0 0 0px;
	}
	p {
		font-family: $font-latobold;
		font-size: 11px;
		color: #3F3F51;
		line-height: 27px;
		letter-spacing: if-ltr(1px,0);
		margin-bottom: 27px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
.large-thumbnail {
	@include fullWidth();
	margin-bottom: 37px;
	img {
		@include img-responsive();
	}
}
.chairman-thumbnail {
	float: $left;
	width: 28%;
	margin-#{$right}: 3%;
	margin-top: 47px;
}
.chairman-desc {
	float: $left;
	width: 69%;
	margin-top: 50px;
	p {
		font-family: $font-latobold;
		font-size: 11px;
		color: #3F3F51;
		line-height: 25px;
		letter-spacing: if-ltr(1px,0);
		margin-bottom: 23px;
		&:first-child {
			&:before {
				position: relative;
				top: 3px;
				content: "";
				display: inline-block;
				background: url(../images/open-quote.png) no-repeat;
				width: 21px;
				height: 18px;
				margin-#{$right}: 5px;
			}
		}
		&:last-child {
			margin-bottom: 20px;
			&:after {
				position: relative;
				top: 5px;
				content: "";
				display: inline-block;
				background: url(../images/close-quote.png) no-repeat;
				width: 21px;
				height: 18px;
				margin-#{$left}: 5px;
			}
		}
	}
}
.chairman-info {
	display: inline-block;
	h2 {
		font-family: $font-latobold;
		font-size: 13px;
		color: $base-color;
		line-height: normal;
		span {
			display: block;
			color: #535353;
		}
	}
}
.ceo-thumbnail {
	float: $left;
	width: 25%;
	margin-#{$right}: 3%;
	margin-top: 47px;
}
.ceo-desc {
	float: $left;
	width: 72%;
	margin-top: 50px;
	p {
		font-family: $font-latobold;
		font-size: 11px;
		color: #3F3F51;
		line-height: 25px;
		letter-spacing: if-ltr(.9px,0);
		margin-bottom: 23px;
		&:first-child {
			&:before {
				position: relative;
				top: 3px;
				content: "";
				display: inline-block;
				background: url(../images/open-quote.png) no-repeat;
				width: 21px;
				height: 18px;
			}
		}
		&:last-child {
			margin-bottom: 20px;
			&:after {
				position: relative;
				top: 5px;
				content: "";
				display: inline-block;
				background: url(../images/close-quote.png) no-repeat;
				width: 21px;
				height: 18px;
			}
		}
	}
}
.ceo-info {
	display: inline-block;
	h2 {
		font-family: $font-latobold;
		font-size: 13px;
		color: $base-color;
		line-height: normal;
		span {
			display: block;
			color: #535353;
		}
	}
}
.awards-list {
	@include fullWidth();
	list-style: none;
	letter-spacing: -5px;
	padding: 0;
	margin: 0px;
	li {
		position: relative;
		float: $left;
		min-width: 35%;
		letter-spacing: 0px;
		margin-bottom: 82px;
		&:nth-child(3n + 3) {
			min-width: 30%;
		}
		&:nth-last-child(-n+3) {
			margin-bottom: 0px;
		}
		a {
			@include fullWidth();
			text-align: $left;
			.year {
				position: relative;
				top: 54px;
				display: inline-block;
				float: $left;
				width: 54px;
				font-family: $font-latoblack;
				font-size: 23px;
				color: #444;
				font-weight: bold;
				line-height: .8;
				text-orientation: upright;
				transform: rotate(-90deg);
				transform-origin: left top 0;
				text-transform: uppercase;
			}
			img {
				float: $left;
				vertical-align: top;
				margin-#{$left}: -20px;
			}
		}
	}
}
.clients-page {
	.page-heading h1 {
		margin-bottom: 63px;
	}
	.client-logos ul {
		margin-bottom: 15px;
		li {
			margin-bottom: 117px;
			&:nth-last-child(-n+4) {
				margin-bottom: 0px;
			}
		}
	}
}
.products-wrap {
	@include fullWidth();
	.products-fltr-sec {
		position: relative;
		@include fullWidth();
		background: url(../images/bg-blue.png) repeat;
		width: 100%;
		padding: 60px 50px 33px;
		&:before {
			@include absolute(0,auto,0,-1px);
			content: "";
			background-color: rgba(255,255,255,.1);
			width: 1px;
			height: 110%;
		}
		&:after {
			@include absolute(0,-1px,0,auto);
			content: "";
			background-color: rgba(255,255,255,.1);
			width: 1px;
			height: 110%;
		}
		h1 {
			@include fullWidth();
			font-family: $font-latoblack;
			font-size: 26px;
			color: $white;
			line-height: normal;
			letter-spacing: if-ltr(5px,0);
			text-transform: uppercase;
			margin: 0 0 50px;
		}
	}
	.pf-form {
		@include fullWidth();
		max-width: 77.5%;
		.pf-col {
			float: $left;
			width: 26.6%;
			margin-#{$right}: 1.7%;
			&.last-col {
				width: 15%;
				margin-#{$right}: 0;
			}
			select {
				background-position: if-ltr(right center,left center);
			}
			input[type="submit"] {
				@include button(transparent,$white,$white,10px 10px,$white,$base-color);
				width: 100%;
			}
		}
	}
	.products-sec {
		position: relative;
		@include fullWidth();
		display: inline-block;
		background: url(../images/bg-home-container.png) no-repeat top center;
		@include background-size(100%);
		text-align: $left;
		padding: 43px if-ltr(0,50px) 0px if-ltr(50px,0);
	}
	.pro-search-res {
		float: $left;
		width: 78%;
		margin-bottom: 20px;
		p {
			font-family: $font-lato;
			font-size: 12px;
			color: #333;
			line-height: normal;
			span {
				font-family: $font-lato;
				font-weight: bold;
				color: #3B5991;
			}
		}
	}
}
.pro-left-col {
	float: $left;
	width: 75%;
}
.products-container {
	@include fullWidth();
	margin-bottom: 70px;
}
.ptro-box {
	position: relative;
	float: $left;
	width: 24%;
	background-color: $white;
	@include border-radius(3px);
	border: 1px solid #eee;
	@include box-shadow(0px 0px 1px rgba(0,0,0,.2));
	padding-bottom: 52px;
	margin-#{$right}: 1.3%;
	margin-bottom: 25px;
	&:nth-child(4n+4) {
		margin-#{$right}: 0%;
	}
	&.active:hover {
		border: 1px solid #FFC004;
		@include box-shadow(0px 0px 0px 2px rgba(255,195,4,.8));
		.pro-dtl {
			border-top: 1px solid rgb(255,195,4);
		}
	}
}
.pro-thumb {
	@include fullWidth();
	height: 190px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5px;
	@include before;
	img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}
}
.pro-info {
	@include fullWidth();
	text-align: center;
	padding: 0 10px 7px;
	p {
		font-family: $font-latobold;
		font-size: 11px;
		color: #333;
		line-height: normal;
		text-transform: uppercase;
		vertical-align: top;
		&:last-child {
			font-family: $font-lato;
		}
		span.part-name {
			border-#{$left}: 1px solid #333;
			padding-#{$left}: 5px;
			margin-#{$left}: 5px;
		}
	}
}
.pro-dtl {
	@include absolute(auto,0,0,0);
	@include fullWidth();
	border-top: 1px solid #eee;
	padding: 12px 15px 13px 20px;
	.pro-view, .pdf-view {
		float: $left;
		a {
			float: $left;
			background: url("../images/view-icon.png") no-repeat if-ltr(center left, center right);
			font-family: $font-latobold;
			font-size: 9px;
			color: #333;
			line-height: 20px;
			text-decoration: none;
			padding: 0 if-ltr(0,30px) 0 if-ltr(30px,0);
			&:hover {
				color: #333;
			}
		}
	}
	.pdf-view {
		a {
			background: url(../images/pdf-icon.png) no-repeat if-ltr(center left, center right);
			&:hover {
				color: #CB0707;
			}
		}
	}
	.pro-atw {
		float: $right;
		a {
			float: $left;
			background: url("../images/atw-icon.png") no-repeat if-ltr(center left, center right);
			font-family: $font-latobold;
			font-size: 9px;
			color: #333;
			line-height: 20px;
			text-decoration: none;
			padding: 0 if-ltr(0,34px) 0 if-ltr(34px,0);
			&:hover {
				color: #779e62;
			}
		}
	}
}
.page-navigation {
	@include fullWidth();
	text-align: center;
	.pagination {
		margin: 0 0 25px;
		li {
			display: inline-block;
			margin: 0;
			&:hover, &:focus, &.active {
				a {
					background-color: #304B78;
					color: $white;
				}
			}
			a {
				border: 0px;
				@include border-radius(25px);
				padding: 5px 11px;
				margin: 0;
			}
		}

	}
}
.pro-right-col {
	@include relative(0px,if-ltr(0px,auto),0,if-ltr(auto,0px));
	float: $right;
	background-color: #ebebeb;
	width: 21.6%;
	margin-top: -210px;
	padding-bottom: 50px;
	.raq-box {
		@include relative(0,if-ltr(0px,auto),auto,if-ltr(auto,0px));
		display: inline-block;
		background: url(../images/bg-raq-blue-box.png) no-repeat;
		@include background-size(100% 100%);
		width: 100%;
		height: 194px;
		padding: 38px 26px;
		z-index: 10;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				@include fullWidth();
				color: $white;
				border-bottom: 1px solid #12243E;
				font-size: 10px;
				padding: 0 0 15px;
				&:last-child {
					border-top: 1px solid #2F4A73;
					border-bottom: 0px;
					padding: 13px 0 0px;
					margin-bottom: 0px;
					a {
						@include button(transparent,$white,#6692c8,6px 25px,#6692c8,$white);
						margin-#{$left}: 20px;
					}
				}
				.or {
					color: rgba(255,255,255,.25);
				}
				a {
					color: $white;
					text-decoration: none;
				}
				i {
					font-size: 12px;
					margin-#{$right}: 20px;
				}
			}
		}
	}
	.no-products {
		@include fullWidth();
		text-align: center;
		padding-top: 75px;
		p {
			font-family: $font-latobold;
			font-size: 11px;
			font-weight: bold;
			color: #c8c8c8;
			line-height: 1.1;
			text-transform: uppercase;
			margin-bottom: 13px;
		}
		.staselc-pro {
			@include fullWidth();
			a {
				@include button(transparent,#518535,#518535,9px 26px,#518535,$white);
			}
		}
	}
	.cart-list {
		@include fullWidth();
		padding: 25px;
		.cart-item {
			@include fullWidth();
			border-bottom: 1px solid #D3D3D3;
			padding-bottom: 11px;
			margin-bottom: 25px;
			.cart-item-col {
				float: $left;
				width: 56%;
				vertical-align: middle;
				&:nth-child(2) {
					width: 27%;
				}
				&:nth-child(3) {
					width: 17%;
					vertical-align: bottom;
				}
				.brand-name, .part-name {
					font-family: $font-latobold;
					font-size: 11px;
					font-weight: bold;
					color: #333;
					line-height: normal;
					margin-bottom: 5px;
				}
				.cat-name {
					font-family: $font-lato;
					font-size: 10px;
					color: #333;
				}
				label {
					@include fullWidth();
					font-family: $font-latobold;
					font-size: 10px;
					font-weight: bold;
					color: #3872CB;
					text-align: center;
					margin-bottom: 6px;
				}
				input[type="text"], input[type="number"] {
					@include fullWidth();
					height: 24px;
					font-family: $font-latobold;
					font-size: 14px;
					font-weight: bold;
					color: #333;
					text-align: center;
					@include border-radius(20px);
					border: 1px solid #C8C8C8;
				}
				.dlt-product {
					float: $right;
					font-size: 22px;
					color: #333;
					padding-top: 20px;
					&:hover {
						color: $base-color;
					}
				}
			}
		}
		.cart-buttons {
			@include fullWidth();
			margin-top: 10px;
			.clear-list {
				float: $left;
				background-color: transparent;
				font-family: $font-latoblack;
				font-size: 9px;
				color: #D80000;
				font-weight: bold;
				text-decoration: none;
				border: 2px solid #D90000;
				@include border-radius(28px);
				@include transition(all,ease-in-out,1s);
				padding: 7px 25px;
				&:hover {
					background-color: #D90000;
					color: $white;
					text-decoration: none;
				}
			}
			.request-btn {
				float: $right;
				background-color: #518535;
				font-family: $font-latoblack;
				font-size: 9px;
				color: $white;
				font-weight: bold;
				text-decoration: none;
				border: 2px solid #518535;
				@include border-radius(28px);
				@include transition(all,ease-in-out,1s);
				padding: 7px 25px;
				&:hover {
					background-color: transparent;
					color: #518535;
					text-decoration: none;
				}
			}
		}
	}
}
.product-detail-sec {
	position: relative;
	@include fullWidth();
    background-color: $white;
    background-image: url(../images/content-wrap-before.png), url(../images/content-wrap-after.png);
    background-repeat: no-repeat;
    background-position: top left, top right;
    border-top: 1px solid #DDD;
	padding: 43px if-ltr(0,50px) 0px if-ltr(50px,0);
	.page-title {
		@include fullWidth();
		margin-bottom: 27px;
		h1 {
			float: $left;
			max-width: 50%;
			font-family: $font-latoblack;
			font-size: 26px;
			color: #2C5FAC;
			line-height: 1.4;
			letter-spacing: if-ltr(5px);
			text-transform: uppercase;
			margin: 0;
			span {
				display: block;
				font-family: $font-lato;
				font-size: 13px;
				color: #666;
				letter-spacing: 0px;
				text-transform: inherit;
			}
		}
		.pro-desc-dtl {
			float: $right;
			.pro-atw, .pdf-view {
				float: $left;
				margin-#{$left}: 0px;
				a {
					float: $left;
					background: url("../images/atw-icon.png") no-repeat if-ltr(center left, center right);
					font-family: $font-latobold;
					font-size: 9px;
					color: #333;
					line-height: 20px;
					text-decoration: none;
					padding: 0 if-ltr(0,34px) 0 if-ltr(34px,0);
					&:hover {
						color: #79A064;
					}
				}
			}
			.pdf-view {
				margin-#{$left}: 60px;
				a {
					background: url(../images/pdf-icon.png) no-repeat if-ltr(center left, center right);
					&:hover {
						color: #CB0707;
					}
				}
			}
		}
	}
	.pro-dtl-left {
		float: $left;
		width: 75%;
	}
	.pro-right-col {
		@include relative(0px,if-ltr(-43px,auto),0,if-ltr(auto,-42px));
		margin-top: -44px;
	}
	.product-slider {
		float: $left;
		width: 46%;
		.product-carousel {
			@include fullWidth();
		}
		.pc-thumbs {
			position: static;
			left: inherit;
			float: $left;
			width: 17%;
			margin: 0 if-ltr(10px,0) 0 if-ltr(0,10px);
			&>li {
				display: inline-block;
				width: 100%;
				height: 70px;
				border: 1px solid #ddd;
				text-align: center;
				vertical-align: top;
				@include border-radius(0px);
				cursor: pointer;
				overflow: hidden;
				margin: 0 0 10px;
				img {
					max-width: 100%;
					margin: 0px auto;
				}
				&.active {
					border: 1px solid #2E65AB;
				}
			}
		}
		.carousel-inner {
			float: $right;
			width: 79%;
			height: 320px;
			border: 1px solid #ddd;
			@include box-shadow(0px 0px 23px 0px rgba(0, 0, 0, 0.1));
			.item {
				width: 100%;
				height: 100%;
				img {
					@include absolute(0,0,0,0);
					max-width: 100%;
					margin: auto;
				}
			}
		}
	}
	.product-description {
		float: $right;
		width: 51%;
		h2 {
			font-family: $font-latobold;
			font-size: 13px;
			color: #666;
			line-height: 1.1;
			margin: 0 0 7px;
		}
		p {
			font-family: $font-lato;
			font-size: 11px;
			color: #3F3F51;
			line-height: 26px;
			margin-bottom: 17px;
		}
	}
}
.content-wrap.projects-sec {
	padding: 43px 47px 44px;
	.projects-wrap {
		@include fullWidth();
	}
	.project-col {
		position: relative;
		float: $left;
		width: 49%;
		margin-bottom: 21px;
		&:nth-child(even) {
			float: $right;
		}
		img {
			@include img-responsive();
		}
		h1 {
			@include absolute(auto,0,0,0);
			padding: 0 32px;
			margin: 0 0 23px;
			a {
				font-family: $font-latoblack;
				font-size: 26px;
				color: $white;
				line-height: normal;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: if-ltr(5px,0px);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.content-wrap.projects-dtl-sec {
	padding: 43px 47px 20px;
}
.projects-dtl-wrap {
	@include fullWidth();
	.project-lrg-img {
		@include fullWidth();
		margin-bottom: 22px;
		img {
			@include img-responsive();
		}
	}
	p {
		font-family: $font-lato;
		font-size: 11px;
		color: #404051;
		line-height: 26px;
	}
	ul {
		@include fullWidth();
		list-style-type: initial;
		padding: 0;
		margin: 0 0 20px;
		li {
			@include fullWidth();
			list-style-type: initial;
			list-style-position: inside;
			font-family: $font-lato;
			font-size: 11px;
			color: #404051;
			line-height: 26px;
			letter-spacing: if-ltr(1px,0);
			margin-bottom: 2px;
		}
	}
	.project-gal {
		@include fullWidth();
		ul {
			@include fullWidth();
			list-style: none;
			padding: 0;
			margin: 38px 0 0;
			li {
				float: $left;
				width: 22.5%;
				list-style: none;
				margin: 0 if-ltr(3.33%,auto) 35px if-ltr(auto,3.33%);
				&:nth-child(4n+4) {
					margin-#{$right}: 0;
				}
				a {
					@include fullWidth();
					img {
						width: 100%;
						@include img-responsive();
					}
				}
			}
		}
	}
}
.project-carousel {
	.modal-dialog {
		width: 100%;
		max-width: 1094px;
	}
	.modal-body {
		text-align: $left;
		padding: 0px;
	}
	.project-carousel {
		border-bottom: 1px solid #ddd;
	}
	.item {
		@include fullWidth();
		img {
			@include fullWidth();
			height: auto;
		}
		.caption {
			@include fullWidth();
			padding: 36px 37px;
			p {
				font-family: $font-lato;
				font-size: 11px;
				color: #404051;
				line-height: 26px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	.project-left, .project-right {
		width: 11px;
		height: 19px;
		opacity: 1;
		margin: auto;
	}
	.project-left {
		@include absolute(0,if-ltr(auto,-50px),0,if-ltr(-50px,auto));
	}
	.project-right {
		@include absolute(0,if-ltr(-50px,auto),0,if-ltr(auto,-50px));
	}
}
.content-wrap.offers-sec {
	padding-bottom: 0px;
	.offers-img {
		float: $left;
		margin-bottom: 40px;
	}
	.pro-left-col {
		width: 78%;
	}
	.pro-right-col {
		float: $right;
		width: 23%;
		margin-#{$right}: -55px;
		margin-top: -481px;
	}
}
.right-content.career-wrap {
	h1 {
		color: #2C60AC;
		letter-spacing: if-ltr(5px,0px);
	}
	.career-row {
		@include fullWidth();
	}
	.career-col {
		position: relative;
		float: $left;
		background: url(../images/bg-career-col.png) repeat;
		width: 49.2%;
		padding: 26px 22px 57px;
		margin-bottom: 13px;
		&:nth-child(even) {
			float: $right;
		}
	}
	h2 {
		@include fullWidth();
		font-family: 'Lato';
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: if-ltr(2px,0px);
		margin-bottom: 19px;
		span {
			display: block;
			font-size: 11px;
			color: #3F3F51;
		}
	}
	h3, h4 {
		@include fullWidth();
		font-family: 'Lato';
		font-size: 12px;
		font-weight: bold;
		line-height: normal;
		color: $base-color;
		text-transform: uppercase;
		letter-spacing: if-ltr(2px,0px);
		margin-bottom: 10px;
		span {
			display: block;
			font-size: 11px;
			color: #3F3F51;
		}
	}
	h4 {
		font-size: 10px;
	}
	p {
		@include fullWidth();
	}
	ul, ol {
		@include fullWidth();
		list-style-type: initial;
		padding: 0;
		margin: 0 0 11px;
		li {
			@include fullWidth();
			list-style-type: initial;
			list-style-position: inside;
			font-family: $font-lato;
			font-size: 11px;
			color: #404051;
			line-height: 26px;
			letter-spacing: if-ltr(1px,0);
			margin-bottom: 0px;
		}
	}
	ol {
		list-style-type: decimal;
		li {
			list-style-type: if-ltr(decimal,arabic-indic);
		}
	}
	.apply-btn {
		@include absolute(auto,0,22px,0);
		@include fullWidth();
		padding: 0 22px;
		a {
			@include button(#2D64AB,$white,#2D64AB,9px 33px,transparent,#2D64AB);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
		}
	}
}
.content-wrap.contact-sec {
	.contact-form {
		float: $right;
		width: 73%;
		h2 {
			font-family: $font-lato;
			font-size: 15px;
			font-weight: bold;
			color: #346CB2;
			text-transform: uppercase;
			line-height: 23px;
			margin: 0;
		}
		.material {
			@include fullWidth();
		}
		.contact-frow {
			@include fullWidth();
		}
		.contact-col {
			position: relative;
			float: $left;
			width: 31.6%;
			@include transition(all, 0.5s, ease-in);
			padding: 24px 0 0;
			margin-bottom: 10px;
			margin-#{$right}: 2.6%;
			&:nth-child(3n+3) {
				margin-#{$right}: 0px;
			}
			&:last-child {
				position: relative;
				width: 100%;
				margin: 0;
			}
		}
		.material-input label {
			pointer-events: none;
		}
		label {
			@include absolute(36px,if-ltr(auto,26px),0,if-ltr(26px,auto));
			font-family: $font-latoblack;
			font-size: 9px;
			color: #00468C;
			text-transform: uppercase;
			@include transition(.2s ease all);
			span {
				color: #666;
			}
		}
		input[type="text"], input[type="email"],input[type="tel"], select, textarea, .material-select {
			@include fullWidth();
			height: 37px;
			font-family: $font-latoblack;
			font-size: 9px;
			color: #374C8C;
			border: 1px solid #C8C8C8;
			@include border-radius(35px);
			@include box-shadow(0px 0px 23px 0px rgba(0, 0, 0, 0.1));
			padding: 0 26px;
			&:focus ~ label, &.filled ~ label {
				top: 10px;
			}
		}
		textarea {
			height: 114px;
			@include border-radius(15px);
			padding: 15px if-ltr(30px,26px) 15px if-ltr(26px,30px);
		}
		.material-select {
			label {
				position: relative;
				top: 0px;
				#{$left}: 0px;
				pointer-events: auto;
				span {
					color: #374C8C;
				}
			}
		}
		input[type="submit"] {
			@include absolute(auto,if-ltr(20px,auto),10px,if-ltr(auto,20px));
			float: $right;
			background: url(../images/submit-icon.png) no-repeat;
			width: 21px;
			height: 13px;
			font-size: 0px;
			color: transparent;
			border: 0px;
			z-index: 3;
		}
	}
	.contact-sidebar {
		float: $left;
		width: 23%;
		.address-col {
			@include fullWidth();
			margin-bottom: 20px;
			p {
				@include fullWidth();
				font-family: $font-latobold;
				font-size: 13px;
				color: #666;
				line-height: 1.4;
				margin-bottom: 0px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}
.content-wrap.search-wrap {
	.search-res-msg {
		@include fullWidth();
		p {
			font-family: $font-lato;
			font-size: 15px;
			color: #333;
			line-height: normal;
			margin: 16px 0 39px;
			span {
				font-weight: bold;
			}
		}
	}
	.search-content {
		float: $left;
		width: 35%;
	}
	.search-post {
		@include fullWidth();
		margin-bottom: 37px;
		&:nth-last-of-type(2), &:last-child {
			margin-bottom: 5px;
		}
	}
	h2 {
		font-family: $font-latobold;
		font-size: 15px;
		color: #346CB2;
		line-height: normal;
		margin: 0 0 1px;
	}
	p {
		font-family: $font-latobold;
		font-size: 13px;
		color: #666;
		line-height: normal;
	}
}
.content-wrap.legalinfo-wrap {
	.legalinfo-content {
		@include fullWidth();
		h1, h2, h3, h4, h5, h6 {
			font-family: $font-latobold;
			font-size: 18px;
			color: #346CB2;
			line-height: normal;
			margin: 0 0 7px;
		}
		h2 {
			font-size: 16px;
		}
		h3 {
			font-size: 15px;
		}
		h4 {
			font-size: 14px;			
		}
		h5 {
			font-size: 13px;
		}
		h6 {
			font-size: 12px;
		}
		p {
			font-family: $font-lato;
			font-size: 12px;
			color: #3F3F51;
			line-height: 26px;
			letter-spacing: if-ltr(1px,0);
			margin: 0px 0 10px;
			span {
				font-weight: bold;
			}
		}
		ul, ol {
			@include fullWidth();
			list-style-type: initial;
			padding: 0;
			margin: 0 0 11px;
			li {
				@include fullWidth();
				list-style-type: initial;
				list-style-position: inside;
				font-family: $font-lato;
				font-size: 11px;
				color: #404051;
				line-height: 26px;
				letter-spacing: if-ltr(1px,0);
				margin-bottom: 0px;
			}
		}
		ol {
			list-style-type: decimal;
			li {
				list-style-type: if-ltr(decimal,arabic-indic);
			}
		}
	}
}
.content-wrap.showrooms-sec {
	.page-title {
		letter-spacing: if-ltr(5px,0);
	}
	.showrooms-wrapper {
		@include fullWidth();
	}
	.locations-list {
		@include fullWidth();
		margin: 12px 0 17px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				float: $left;
				margin-#{$right}: 13px;
				&:last-child {
					margin-#{$right}: 0px;
				}
				&.active, &:hover {
					a {
						@include button(transparent,#6692C8,#6692C8,6px 29px,transparent,#6692C8);	
						font-size: 11px;
					}
				}
				a {
					@include button(transparent,#3F3F51,transparent,6px 29px,#6692C8,#fff);
					font-size: 11px;
				}
			}
		}
	}
	.hm-showrooms {
		margin-bottom: 10px;
		.showrooms-wrap {
			padding: 0px;
		}
	}
}
/*======================================
        Some Extra CSS START
======================================*/
.awards-lightbox {
	.modal-dialog {
		width: 500px;
		min-width: 300px;
		max-width: 650px;
	}
	.modal-body {
		text-align: center;
		img {
			display: inline-block;
			max-width: 100%;
		}
	}
}
.raq-lightbox {
	.modal-dialog {
		width: 100%;
		max-width: 475px;
		margin: 20px auto;
	}
	.modal-content {
		@include border-radius(0px);
	}
	.modal-body {
		width: 100%;
		text-align: $left;
		overflow: hidden;
		padding: 40px 37px;
	}
	.popup-form {
		@include fullWidth();
	}
	h1 {
		font-family: $font-latoblack;
		font-size: 20px;
		color: #435793;
		text-transform: uppercase;
		letter-spacing: if-ltr(5px,0);
		margin: 0 0 27px;
	}
	.pf-row {
		position: relative;
		@include fullWidth();
		@include transition(all, 0.5s, ease-in);
		padding: 24px 0 0;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0px;
		}
		.pf-col-left {
			float: $left;
		}
		.pf-col-right {
			float: $right;
			padding-top: 15px;
		}
		.pf-col-right {
			input[type="submit"] {
				@include button(#518535,$white,#518535,10px 26px,transparent,#518535);
			}
		}
		label {
			@include absolute(36px,if-ltr(auto,26px),0,if-ltr(26px,auto));
			font-family: $font-latoblack;
			font-size: 9px;
			color: #374C8C;
			text-transform: uppercase;
			@include transition(.2s ease all);
			pointer-events: none;
			span {
				color: #666;
			}
		}
		input[type="text"], input[type="email"],input[type="tel"], select, textarea, .material-select {
			@include fullWidth();
			height: 34px;
			font-family: $font-latoblack;
			font-size: 9px;
			color: #374C8C;
			border: 1px solid #C8C8C8;
			@include border-radius(35px);
			@include box-shadow(0px 0px 23px 0px rgba(0, 0, 0, 0.1));
			padding: 0 26px;
			&:focus ~ label, &.filled ~ label {
				top: 10px;
			}
		}
		textarea {
			height: 114px;
			@include border-radius(15px);
			padding: 15px 26px;
		}
		.fileUploader {
			position: relative;
			@include fullWidth();
			.material-input.input {
				@include fullWidth();
			}
			input[type="button"] {
				@include absolute(5px,if-ltr(5px,auto),auto,if-ltr(auto,5px));
				@include button(#435794,$white,#435794,5px 12px,#435794,$white);
			}
		}
		#file {
			display: none;
		}
	}
	&.careers-form {
		.pf-row .pf-col-right input[type="submit"] {
			padding: 10px 34px;
		}
	}
	&.success-modal {
		.modal-dialog {
			max-width: 380px;
		}
		h1 {
			font-weight: bold;
			text-align: center;
			letter-spacing: if-ltr(5px,0);
			margin-bottom: 61px;
		}
		p {
			font-family: $font-latoblack;
			font-size: 10px;
			color: #374C8C;
			line-height: normal;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 21px;
		}
	}
}
.newsletter-modal {
	.modal-dialog {
		width: 100%;
		max-width: 474px;
	}
	.pf-row {
		&:last-child {
			text-align: center;
			input[type="submit"] {
				@include button(#518535,$white,#518535,10px 29px,transparent,#518535);
			}
		}
	}
}
.showrooms-map {
	@include fullWidth();
	height: 513px;
	margin-bottom: 72px;
	iframe {
		@include fullWidth();
		height: 100%;
	}
}
/*======================================
        Some Extra CSS END
======================================*/


/*======================================
        Responsive START
======================================*/
@media only screen and (max-width: 1500px) {
	.container {
		width: 1170px;
	}
	.products-wrap .pf-form, .products-wrap .pro-search-res {
		max-width: 75%;
	}
	.pro-left-col {
		width: 71.7%;
	}
	.pro-right-col {
		width: 24%;
	}
	.ptro-box {
		width: 32.4%;
		&:nth-child(4n+4) {
			margin-#{$right}: 1.3%;
		}
		&:nth-child(3n+3) {
			margin-#{$right}: 0px;
		}
	}
	.content-wrap.offers-sec .pro-right-col {
		width: 26%;
	}
}

@media only screen and (max-width: 1199px) {
	.container, .footer .footer-top .container {
		width: 94%;
	}
	.header {
		.btm-header {
			text-align: center;
		}
		.logo {
			float: none;
			display: inline-block;
		}
		.nav {
			max-width: 100%;
			margin-top: 10px;
			ul {
				text-align: center;
			}
		}
	}
	.hm-content .container {
		padding-bottom: 35px;
	}
	.hm-pro-sec {
		margin-bottom: 50px;
		.product-sec  {
			.product-box {
				height: 250px;
			}
			.product-thumb  {
				img {
					width: 100%;
				}
			}
		}
	}
	.hm-partners {
		margin-bottom: 35px;
	}
	.hm-partners .hm-heading-row {
		margin-bottom: 35px;
	}
	.awards-list li {
		min-width: inherit;
		width: 50%;
		margin-bottom: 40px;
		&:nth-last-child(-n+3) {
			margin-bottom: 40px;
		}
		a {
			img {
				max-width: 80%;
				margin-#{$left}: 0px;
			}
		}
	}
	.ptro-box {
		width: 32.4%;
		&:nth-child(4n+4) {
			margin-#{$right}: 1.3%;
		}
		&:nth-child(3n+3) {
			margin-#{$right}: 0;
		}
	}
	.product-detail-sec {
		.product-slider {
			width: 55%;
		}
		.product-description {
			width: 42%;
		}
	}
	.project-carousel .modal-dialog {
		max-width: 700px;
	}
	.hm-showrooms .showrooms-left {
		width: 68%;
	}
	.hm-showrooms .showrooms-right {
		width: 32%;
	}
	.content-wrap.contact-sec .contact-form .contact-col {
		width: 48%;
		margin-#{$right}: 4%;
		&:nth-child(3n+3) {
			margin-#{$right}: 4%;
		}
		&:nth-child(2n+2) {
			margin-#{$right}: 0;
		}
	}
	.products-wrap .pf-form {
		max-width: 70%;
	}
	.pro-left-col, .product-detail-sec .pro-dtl-left {
		width: 67%;
	}
	.pro-right-col {
		width: 28%;
	}
	.product-detail-sec .pro-right-col {
		#{$right}: 0;
	}
	.content-wrap.offers-sec .pro-left-col {
		width: 63%;
	}
	.content-wrap.offers-sec .pro-right-col {
		width: 33%;
		min-height: inherit !important;
		margin: 0px;
	}
}

@media only screen and (max-width: 1024px) {
	.header {
		.logo {
			float: $left;
			max-width: 250px;
		}
		.lang-box {
			display: none;
		}
		.nav {
			position: fixed;
			top: 0px;
			#{$left}: -255px;
			width: 255px;
			height: 100vh;
			-webkit-transition: left 0.2s linear;
			-o-transition: left 0.2s linear;
			transition: left 0.2s linear;
			margin-top: 0px;
			.lang-box {
				display: block;
				@include fullWidth();
				max-height: 39px;
				background-color: $base-color;
				text-align: $right;
				border-#{$right}: 1px solid $white;
				padding: 7px 15px;
				margin-#{$left}: 0px;
			}
		}
	}
	body.menu-active {
		overflow-x: hidden;
		.nav {
			background: $white;
			#{$left}: 0;
			transition: #{$left} 0.2s linear;
			ul {
				display: inline-block;
				-webkit-justify-content: inherit;
				justify-content: inherit;
				li {
					@include fullWidth();
					line-height: normal;
					text-align: #{$left};
					white-space: inherit;
					padding: 0px;
					margin: 0px;
					a {
						position: relative;
						color: $black;
						line-height: normal;
						padding: if-ltr(10px,3px) 15px;
					}
					&:hover, &.current-menu-item a {
						background: transparent;
						color: $base-color;
					}
					ul {
						position: static;
						display: block;
						width: 100%;
						padding: 15px 20px 15px;
						li {
							padding-#{$left}: 20px;
							a {
								padding-bottom: 10px;
							}
						}
					}
				}
			}
		}
		.menu-opener {
			border-color: $base-color;
			&:after, &:before {
			left:5px;
			right:5px;
			background: $base-color;
			-moz-transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			top:70%;
			}
			 &:after {
				-moz-transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
				-ms-transform:rotate(-45deg);
				transform:rotate(-45deg);
			}
			span {
				opacity: 0;
			}
		}
	}
	.hm-pro-sec .product-sec .product-box {
		width: 50%;
		height: 350px;
	}
	.client-logos ul {
		margin-bottom: 0px;
		li {
			width: 33.33%;
			margin-bottom: 30px;
			&:nth-last-child(-n+4) {
				margin-bottom: 30px;
			}
		}
	}
	.hm-partners .partners-wrap .more-logos {
		margin-top: 10px;
	}
	.footer .footer-btm .footer-right .footer-mail, .footer .footer-btm .footer-right .footer-number {
		margin-#{$right}: 40px;
	}
	.content-wrap {
		padding: 25px 30px;
	}
	.left-sidebar {
		width: 30%;
		ul li {
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
	.right-content {
		width: 70%;
	}
	.ceo-thumbnail {
		min-height: inherit !important;
	}
	.awards-list li {
		width: 100%;
	}
	.products-wrap .pf-form, .products-wrap .pro-search-res {
		width: 68%;
	}
	.pro-left-col {
		width: 65%;
	}
	.ptro-box {
		float: $left;
		width: 48%;
		margin: 0 0 30px !important;
		&:nth-child(even) {
			float: $right;
		}
	}
	.pro-right-col {
		width: 30%;
	}
	.product-detail-sec .product-slider, .product-detail-sec .product-description {
		width: 100%;
	}
	.product-detail-sec .pro-dtl-left {
		width: 60%;
	}
	.product-detail-sec .pro-right-col {
		width: 37%;
	}
	.product-detail-sec .page-title h1 {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.product-detail-sec .page-title .pro-desc-dtl {
		float: $left;
	}
	.product-detail-sec .product-slider {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 992px) {
	.banner-sec .caption-wrap .caption h1 {
		font-size: 20px;
	}
	.hm-content {
		.about-left {
			width: 100%;
			margin: 20px 0;
		}
		.about-vid {
			top: 75px;
		}
		.about-right {
			width: 100%;
			padding: 0px;
			h1 {
				font-size: 16px;
				span {
					font-size: 20px;
				}
			}
		}
	}
	.hm-heading-row h1 {
		font-size: 16px;
		span {
			font-size: 20px;
		}
	}
	.hm-pro-sec .product-sec .product-title h2 {
		font-size: 20px;
		span {
			font-size: 18px;
		}
	}
	.hm-showrooms .showrooms-left {
		width: 100%;
		margin-bottom: 20px;
	}
	.hm-showrooms .showrooms-right {
		width: 100%;
		padding: 0px;
	}
	.hm-showrooms .showrooms-right h1:before {
		#{$left}: 0px;
		width: 100%;
	}
	.footer .footer-top .footer-col {
		width: 33.33%;
		margin-bottom: 30px;
		&:first-child, &:last-child {
			width: 33.33%;
		}
	}
	.footer .footer-btm .footer-left {
		width: 100%;
		min-width: inherit;
	}
	.footer .footer-btm .footer-left .copyrights, .footer .footer-btm .footer-left .information, .footer .footer-btm .footer-right .footer-mail, .footer .footer-btm .footer-right .footer-number, .footer .footer-btm .footer-right .footer-sm-links {
		width: 100%;
		text-align: center;
		margin: 0px;
	}
	.footer .footer-btm .footer-right {
		width: 100%;
		text-align: center;
		padding: 0 0 25px;
	}
	.footer .footer-btm .footer-right .footer-mail, .footer .footer-btm .footer-right .footer-number {
		margin-bottom: 10px;
	}
	.footer .footer-btm .footer-right .footer-sm-links ul li {
		float: none;
		display: inline-block;
	}
	.chairman-thumbnail, .ceo-thumbnail {
		width: 100%;
		min-height: auto !important;
		margin: 10px 0 0;
	}
	.chairman-desc, .ceo-desc {
		width: 100%;
		margin-top: 20px;
	}
	.clients-page .client-logos ul li {
		margin-bottom: 50px !important;
	}
	.products-wrap .pf-form .pf-col {
		width: 100%;
		margin: 0 0 20px;
	}
	.products-wrap .pf-form, .products-wrap .pro-search-res {
		width: 65%;
	}
	.pro-left-col {
		width: 60%;
	}
	.pro-right-col {
		width: 35%;
		margin-top: -400px;
	}
	.pro-right-col .cart-list .cart-buttons .clear-list, .pro-right-col .cart-list .cart-buttons .request-btn {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
	.page-heading h1 {
		font-size: 20px;
		letter-spacing: 0px;
	}
	.content-wrap.projects-sec {
		padding: 35px 30px;
	}
	.content-wrap.projects-sec .project-col h1 a {
		font-size: 17px;
		letter-spacing: 0px;
	}
	.right-content.career-wrap .career-col {
		width: 100%;
		height: auto !important;
	}
	.content-wrap.contact-sec .contact-sidebar {
		width: 30%;
	}
	.content-wrap.contact-sec .contact-form {
		width: 68%;
	}
	.showrooms-map {
		height: 400px;
		margin-bottom: 30px;
	}
	.project-carousel .project-left {
		#{$left}: 25px;
	}
	.project-carousel .project-left, .project-carousel .project-right {
		top: 100px;
		bottom: inherit;
	}
	.project-carousel .project-right {
		#{$right}: 25px;
	}
	.content-wrap.search-wrap .search-content {
		width: 100%;
	}
	.content-wrap.search-wrap .search-res-msg p {
		margin: 0 0 20px;
	}
}
@media only screen and (max-width: 767px) {
	.banner-sec {
		margin-bottom: 0px;
		&:after {
			bottom: 0px;
		}
		.raq-box {
			position: static;
			bottom: 0px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cccccc+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
			width: 100%;
			height: auto;
		}
	}
	.hm-content .container {
		padding-top: 35px;
	}
	.hm-pro-sec .product-sec .product-box {
		width: 100%;
	}
	.hm-pro-sec .product-sec .product-thumb img {
		height: auto;
	}
	.client-logos ul li {
		width: 50%;
	}
	.footer .footer-top .footer-col {
		width: 50%;
		&:first-child, &:last-child {
			width: 50%;
		}
	}
	.right-content {
		h1 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.4;
			margin-bottom: 15px;
		}
	}
	.large-thumbnail {
		margin-bottom: 20px;
	}
	.products-wrap .products-fltr-sec {
		padding: 35px 30px;
		h1 {
			margin-bottom: 20px;
		}
	}
	.products-wrap .pf-form .pf-col.last-col {
		min-width: 120px;
		margin-bottom: 0px;
	}
	.products-wrap .products-sec {
		padding: 35px;
	}
	.products-wrap .pf-form, .products-wrap .pro-search-res {
		width: 100%;
		max-width: 100%;
	}
	.pro-left-col {
		width: 100%;
	}
	.pro-right-col {
		width: 35%;
		margin-top: -400px;
	}
	.ptro-box {
		width: 100%;
	}
	.pro-right-col .cart-list .cart-buttons .clear-list, .pro-right-col .cart-list .cart-buttons .request-btn {
		width: auto;
		text-align: center;
		margin-bottom: 15px;
	}
	.pro-right-col {
		width: 100%;
		min-height: inherit !important;
		margin-top: 0px;
	}
	.product-detail-sec {
		padding: 35px;
	}
	.product-detail-sec .pro-dtl-left, .product-detail-sec .pro-right-col {
		width: 100%;
	}
	.product-detail-sec .pro-right-col {
		padding-bottom: 0px;
		margin-top: 10px;
	}
	.pro-right-col .raq-box {
		height: auto;
		background: #2359aa; /* Old browsers */
		background: -moz-linear-gradient(top, #2359aa 0%, #224375 50%, #1a3257 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #2359aa 0%,#224375 50%,#1a3257 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #2359aa 0%,#224375 50%,#1a3257 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2359aa', endColorstr='#1a3257',GradientType=0 ); /* IE6-9 */
	}
	.product-detail-sec .product-slider .pc-thumbs {
		margin-#{$right}: 4%;
	}
	.product-detail-sec .page-title h1 {
		width: 100%;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.content-wrap.projects-sec .project-col {
		width: 100%;
	}
	.content-wrap.projects-dtl-sec {
		padding: 35px;
	}
	.projects-dtl-wrap .project-gal ul li {
		width: 30.66%;
		margin-#{$right}: 4%;
		&:nth-child(4n+4) {
			margin-#{$right}: 4%;
		}
		&:nth-child(3n+3) {
			margin-#{$right}: 0%;
		}
	}
	.content-wrap.offers-sec .pro-left-col, .content-wrap.offers-sec .pro-right-col {
		width: 100%;
	}
	.modal-dialog {
		max-width: 90% !important;
		margin: 20px auto;
	}
	.content-wrap.contact-sec .contact-sidebar, .content-wrap.contact-sec .contact-form {
		width: 100%;
	}
	.content-wrap.contact-sec .contact-form {
		margin-bottom: 20px;
	}
	.project-carousel .item .caption {
		padding: 20px;
		p {
			line-height: 1.5;
		}
	}
}
@media only screen and (max-width: 616px) {
	.left-sidebar, .right-content {
		width: 100%;
	}
	.product-detail-sec .product-slider .carousel-inner {
		width: 100%;
		margin: 0 0 15px;
	}
	.product-detail-sec .product-slider .pc-thumbs {
		width: 100%;
		li {
			width: 73px;
		}
	}
	.product-detail-sec .page-title .pro-desc-dtl .pdf-view, .product-detail-sec .page-title .pro-desc-dtl .pro-atw {
		width: 100%;
		margin: 0 0 10px;
	}
	.raq-lightbox .pf-row .pf-col-left, .raq-lightbox .pf-row .pf-col-right {
		width: 100%;
	}
	.raq-lightbox .modal-body {
		padding: 30px 20px;
	}
	.raq-lightbox h1 {
		margin-bottom: 15px;
	}
	.raq-lightbox .pf-row {
		padding-top: 10px;
	}
	.raq-lightbox .pf-row label {
		top: 21px;
	}
	.raq-lightbox .pf-row .material-select.filled~label, .raq-lightbox .pf-row .material-select:focus~label, .raq-lightbox .pf-row input[type=email].filled~label, .raq-lightbox .pf-row input[type=email]:focus~label, .raq-lightbox .pf-row input[type=tel].filled~label, .raq-lightbox .pf-row input[type=tel]:focus~label, .raq-lightbox .pf-row input[type=text].filled~label, .raq-lightbox .pf-row input[type=text]:focus~label, .raq-lightbox .pf-row select.filled~label, .raq-lightbox .pf-row select:focus~label, .raq-lightbox .pf-row textarea.filled~label, .raq-lightbox .pf-row textarea:focus~label {
		top: -5px;
	}
	.content-wrap.contact-sec .contact-form .contact-col {
		width: 100%;
		margin: 0 0 15px;
	}
	button[type=button].close {
		top: -15px;
		#{$right}: 0px;
	}
}
@media only screen and (max-width: 480px) {
	body * {
		letter-spacing: 0px !important;
	}
	.menu-opener {
		position: relative;
	}
	.banner-sec .caption-wrap .caption {
		display: none;
	}
	.hm-content .container {
		padding: 35px 0;
	}
	.hm-content .about-vid {
		position: static;
		top: 0px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.hm-content .about-left {
		height: 200px;
	}
	.hm-pro-sec .product-sec .product-box {
		height: 260px;
	}
	.clients-page .client-logos ul li {
		height: auto !important;
	}
	.client-logos ul li {
		width: 100%;
		height: auto !important;
		margin-bottom: 50px;
	}
	.hm-heading-row, .hm-showrooms .showrooms-wrap {
		padding: 0px;
	}
	.footer .footer-top .footer-col {
		width: 100%;
		&:first-child, &:last-child {
			width: 100%;
		}
	}
	.awards-list {
		margin-top: 10px;
		li {
			height: auto !important;
			a {
				img {
					max-width: 100%;
				}
				.year {
					position: static;
					top: 0px;
					@include fullWidth();
					-webkit-transform: none;
					-ms-transform: none;
					transform: none;
					margin-bottom: 15px;	
				}
			}
		}
	}
	.projects-dtl-wrap .project-gal ul {
		margin-top: 0px;
	}
	.projects-dtl-wrap .project-gal ul li {
		width: 100%;
		margin: 0 0 20px !important;
	}
}
@media only screen and (max-width: 414px) {
	.pro-right-col .cart-list .cart-buttons .clear-list, .pro-right-col .cart-list .cart-buttons .request-btn {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
}