//	Import Fonts
/*@import "../css/fonts";*/

@font-face {
  font-family: 'ge_ss_two_medium';
  src: url('../fonts/ge_ss_two_medium.eot');
  src: url('../fonts/ge_ss_two_medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ge_ss_two_medium.woff') format('woff'),
  url('../fonts/ge_ss_two_medium.ttf') format('truetype'),
  url('../fonts/ge_ss_two_medium.svg#ge_ss_two_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Regular.woff') format('woff'),
	url('../fonts/Lato-Regular.ttf') format('truetype'),
	url('../fonts/Lato-Regular.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Black.woff') format('woff'),
		 url('../fonts/Lato-Black.ttf') format('truetype'),
		 url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light_0-webfont.eot');
    src: url('../fonts/lato-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-light_0-webfont.woff') format('woff'),
         url('../fonts/lato-light_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-light_0-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold_0-webfont.eot');
    src: url('../fonts/lato-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold_0-webfont.woff') format('woff'),
         url('../fonts/lato-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold_0-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@import "bootstrap";
@import "variables";
@import "mixins";
@import "normalize";
@import "common";

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width; height: device-height;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

$dir: ltr;

body {
  /*font-family: 'roboto_condensedregular';*/
  font-family: 'Roboto', sans-serif;
}
@import "all";