//	Import Fonts

@font-face {
	font-family:'DroidArabicKufi-Regular';
	src:url('../fonts/DroidArabicKufi_gdi.eot');
	src:url('../fonts/DroidArabicKufi_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DroidArabicKufi_gdi.woff') format('woff'),
		url('../fonts/DroidArabicKufi_gdi.ttf') format('truetype'),
		url('../fonts/DroidArabicKufi_gdi.svg#DroidArabicKufi-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FEFC;
}

body *, body {
    font-family: 'DroidArabicKufi-Regular' !important;
	unicode-bidi: embed;
}
.fa,
.br-theme-fontawesome-stars .br-widget a {font-family: FontAwesome !important;}
@import "bootstrap";
@import "variables";
@import "mixins";
@import "normalize";
@import "common";

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width; height: device-height;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}


// Override default value for $dir in directional.scss

$dir: rtl;

@import "all";