/*==========================
      Project Base
==========================*/
.btn {
  background-color: transparent;
  border-width: 2px;
  border-color: $golden;
  min-height: 31px;
  border-radius: 14px;
}
.btn-default {
  border-color: $headingBar_cl;
  color: $headingBar_cl;
  background-color: transparent;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 15px;
  line-height: 1.3;
  margin: 0 auto;
  min-height: 31px;
  min-width: 103px;
  padding: 4px 15px;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.data-text {
  position: relative;
  z-index: 1;
  &:before {
    content: attr(data-text);
    z-index: -1;
  }
}
.iOudModel {
  .modal-header {
    color: #9F9277;
    font-size: 20px;
    text-align: center;
    padding: 25px 0 10px;
    h4 {font-size: 20px; margin: 0;}
  }
  .errorFromPU {
    background-color: $error_color;
    color: $white;
    font-family: roboto_condensedbold;
    font-size: 14px;
    line-height: 1.3;
    margin: 0 -35px 11px;
    padding: 6px 35px;
    text-align: center;
    text-shadow: none;
  }
  .popupForm {
    @extend .displayBlock100;
    max-width: 333px;
    margin: 0 auto;
    input {
      margin-bottom: 18px;
    }
    .forGotPass {
      color: #6B6B6B;
      font-size: 14px;
      font-family: roboto_condensedlight;
      &:hover {color: $green;}
    }
    input.btn {
      background-color: $green;
      border-color: $green;
      color: $white;
      min-width: 153px;
      &:hover {background-color: $golden; border-color: $golden}
    }
    .otherText {
      color: $darkGray;
      font-family: roboto_condensedbold;
      padding: 15px 0;
      text-align: center;
      font-size: 14px;
      a {
        color: $green;
        &:hover {
        color: $golden;
        }
      }
    }
  }
}
.shadowMain_RHT {
  @include absolute(100%, auto, auto,  0);
  background-color: transparent;
  background-image: url("../images/shadowMain.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  height: 43px;
  width: 62px;
  z-index: 1;
}
/*
input.has-error {border-color: $error_color !important;}
*/
/*==========================
      Universal CSS
==========================*/

// Bootstrap model center
@media (min-width: 768px) {
  .modal {
    text-align: center;
    padding: 0!important;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

input:focus, a:focus, button:focus {
  outline: none ;
}
.displayInlineTop {
  display: inline-block;
  vertical-align: top;
}
.displayBlock100 {
  display: block;
  width: 100%;
}
textarea,
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="tel"],
input[type="url"],
input[type="image"],
input[type="week"],
select {
  background-color: $white;
  border-color: $green;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  color: $tatra777;
  font-size: 13px;
  height: 35px;
  padding: 0 14px;
  margin: 0;
  width: 100%;
  &.has-error {border-color: $error_color;}
}
select {
  background-image: url(../images/arrowD.png);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  background-repeat: no-repeat;
  background-size: auto auto;
}
select::-ms-expand {
  display: none;
}
input::-webkit-input-placeholder    {opacity:1; }
input:-moz-placeholder              {opacity:1; }
input::-moz-placeholder             {opacity:1; }
input:-ms-input-placeholder         {opacity:1; }



input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

/*Unique input layout style*/
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  /*margin-left  : -28px;
  padding-left : 28px;*/
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
  width: 24px;
}
input[type=radio   ]:not(old) + label {
  background   : url('../images/radioBtns.png') no-repeat 0 0;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}



