/*==========================
      Project Base
==========================*/
$golden :       #84724D;
$darkGray :     #333333;
$white :        #ffffff;
$beachColor :   #C1B9A6;
$green:         #2C8D16;
$darkGolden:    #56483B;
$blackBelt:     #222222;
$blackBeltCol:  #9F9277;
$headerBg :     #1c2931;
$headingBar_bg: #222222;
$headingBar_cl: #9F9277;
$offersSec_bg:  #e7e1c9;
$tatra777:      #777777;
$error_color:   #d90000;
$table_bg_cl:   #eeeeee;


/*==========================
      Universal CSS
==========================*/
