/*
@include transform(scale(0.8));
@include transform-origin(0 0 0);
@include transition(all, 0.5s, ease-in);
*/


// Import helpers from directional.scss
@import "directional";
// Use the helpers to make CSS for LTR or RTL
body {
  direction: if-rtl(rtl,ltr);
  background-color: $white;
  line-height: if-rtl(1.3);
}
ul,ol,li,form {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover {
  @include transition(all, 0.5s, ease-in);
  color: $darkGray;
}
body, html {
  height: 100%;
  min-height: 100%;
}
select {
  background-position: if-ltr(right, left) center;
}
.btn, .edBtn, .btn-success {@include transition-duration(0.5s);}
  /*======================================
      Bootstrap css for START
  ======================================*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: $left;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: $left;
  }
}
/*======================================
    Bootstrap css for  END
======================================*/

.headingBar {
  background-color: $headingBar_bg;
  color: $headingBar_cl;
  padding: 13px 35px 14px;
  h2 {
    float: $left;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    margin: 3px 0;
  }
  a.edBtn {
    float: $right;
  }
}
.iOudModel .popupForm {
  .forGotPass {
    float: $right;
    margin: 7px 0 0;
  }
  .otherText {letter-spacing: if-ltr(1px,0);}
}
input[type="checkbox"]:not(old) + label,
input[type="radio"]:not(old) + label {
  margin-#{$left}: -28px;
  padding-#{$left}: 28px;
}
.addCartPopUp {
  @extend .displayBlock100;
  margin: 0 auto;
  max-width: 385px;
  padding: 0 0 13px;
  table {
    background-color: $table_bg_cl;
    border: 0 none;
    border-radius: 4px;
    color: $darkGray;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 18px;
    padding: 12px;
    vertical-align: top;
    width: 100%;
    tr td {
      vertical-align: middle;
      padding: 20px 10px;
      img {margin-#{$right}:5px;}
      &:first-child {
        padding-#{$left}: 22px;
      }
    }
  }
  .btn {
    font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    min-height: 35px;
    white-space: inherit;
    width: 48%;
    &.btn-success {
      background-color: $green;
      border-color: $green;
      float: $left;
      &:hover {
        background-color: $golden;
        border-color: $golden;
      }
    }
    &.btn-default.black {
      float: $right;
      background-color: $headerBg;
      border-color: $headerBg;
      color: $white;
      &:hover {
        background-color: $beachColor;
        border-color: $beachColor;
      }
    }
  }

}
.breadcrumbs {
  @extend .displayBlock100;
  padding-bottom: 8px;
  ul {
    @extend .displayBlock100;
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        color: inherit;
        display: block;
        padding: 0 10px;
        &:hover{color: $golden}
      }
      &.Back_pro {
        padding: 0 4px;
        a {padding: 0;}
        @include if-ltr {
          img {
            @include transform(rotate(180deg))
          }
        }


      }
    }
  }
}

/*======================================
    Common Css  END
======================================*/

header {
  background-color: $headerBg;
  color: $golden;
  font-size: 16px;
  padding: 24px 0;
  border-bottom: 50px solid $white;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {color: $white;text-decoration: none;}
  }
  .leftSec {
    float: $left;
    padding-#{$right}: 15px;
    width: 50%;
    .logoSec {
      float: $left;
      margin-#{$right}: 32px;
      img {
        height: auto;
        max-width: 100%;
        width: auto;
      }
    }
    .leftMenu {
      float: $left;
      padding: 30px 0 0;
      width: 70%;
      @include calc( width, '100% - 164px');
      ul {
        float: $left;
        width: 100%;
        li {
          float: $left;
          padding: 0 14px;
          text-align: center;
          width: auto;
          &.topSearch {
            color: $blackBeltCol;
            width: 14%;
            padding-top: 3px;
            position: relative;
            .showSearch {
              @include absolute(-6, if-ltr(auto,0), auto, if-ltr(0,auto));
              @include transition-duration(0.5s);
              @include transform(scale(1, 0));
              height: 34px;
              width: 200px;
              overflow: hidden;
              z-index: 1;
              input[type="text"] {
                padding-#{$right}: 38px;
                border-radius: 0;
              }
              .btn-success {
                @include absolute(0, if-rtl(auto,0), 0, if-rtl(0,auto));
                background-color: $green;
                border: 0px;
                border-radius: 0;
                min-width: inherit;
                &:hover {background-color: $golden;}
              }
              &.active {
                @include transform(scale(1, 1));
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  .rightSec {
    color: $blackBeltCol;
    float: $right;
    text-align: $right;
    padding-#{$left}: 15px;
    width: 50%;
    ul {
      li {
        @extend .displayInlineTop;
        &.sepr {
          background-image: url("../images/sep.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: auto auto;
          color: transparent;
          min-width: 1px;
          vertical-align: middle;
          width: 40px;
        }
      }
    }
    .rightTop {
      margin-bottom: 22px;
      img {display: inline-block;}
      select {
        background-color: transparent;
        border: 0 none;
        color: $headingBar_cl;
        display: inline-block;
        font-size: 13px;
        height: 27px;
        line-height: 1;
        min-width: 100px;
        padding: 0 10px;
        width: auto;
      }
      li:nth-child(3) {
        /*min-width: 70px;*/
        img {
          display: inline-block;
        }
        select {
          min-width: 42px;
          width: auto;
        }
      }
      .btn-success {
        border-color: $green;
        background-color: $green;
        &:hover {background-color: $golden; border-color: $golden}
      }
    }
    .menu {
      ul li {
        a {
          padding: 10px 15px;
          position: relative;
          &:hover {color: $golden;}
          &:after {
            @include transition-duration(0.5s);
            @include absolute(auto,0,-17,0);
            content: '';
            height: 0;
            border-radius: 3px;
            background-color: $white;
          }
        }
        &.active a:after, a:hover:after {
          height:3px;
        }
      }
    }
  }
}
/*======================================
        Header  END
======================================*/

footer {
  .footerLinks {
    background-color: $white;
    padding: 80px 0 27px;
    .container {
      max-width: 1130px;
    }
    ul {
      li {
        @extend .data-text ;
        color: $golden;
        line-height: 1.3;
        margin: 0 0 16px;
        font-size: 15px;
        text-transform: capitalize;
        letter-spacing: if-ltr(3px,0);
        &:before {
          @include absolute(auto,if-rtl(0,auto), -2, if-rtl(auto,0));
          color: rgba(242,242,242,1);
          font-weight: bold;
          font-size: if-ltr(27px,17px);
          letter-spacing: 0;
        }
        a {
          color: inherit;
          position: relative;
          z-index: 1;
          text-decoration: none;
          &:hover {color: $darkGray}
        }
      }
    }
  }
  .copyRights {
    background-color: $darkGray;
    background-image: url('../images/copyRights.png');
    background-position: top left;
    background-repeat: repeat-x;
    color: $beachColor;
    font-size: 13px;
    min-height: 54px;
    padding: 16px 0 12px;
    ul {
      li {
        @extend .displayInlineTop;
        font-size: 18px;
        line-height: 1;
        margin-#{$right}: 25px;
        a {
          color: inherit;
          &:hover {color: $white;}
        }
      }
    }
    p {
      text-align: $right;
      margin: 0;
      line-height: 1.3;
    }
  }
}
/*======================================
        Footer  END
======================================*/

section.main {
/*  height: 100%;
  min-height: 100%;
  @include calc( height, '100% - 400px');*/
}
// Offer Section
.offersSec {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  &:before, &:after {
    @extend .shadowMain_RHT;
    height: 65px;
  }
  &:before {left: 0; right: auto}
  &:after {@include transform(rotateY(180deg));right: 0;left: auto}

  .offProList {
    min-height: 394px;
    background: rgba(231,225,203,1);
    background: -moz-linear-gradient(left, rgba(231,225,203,1) 0%, rgba(215,205,175,1) 32%, rgba(208,196,162,1) 47%, rgba(191,177,149,1) 65%, rgba(157,139,123,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,225,203,1)), color-stop(32%, rgba(215,205,175,1)), color-stop(47%, rgba(208,196,162,1)), color-stop(65%, rgba(191,177,149,1)), color-stop(100%, rgba(157,139,123,1)));
    background: -webkit-linear-gradient(left, rgba(231,225,203,1) 0%, rgba(215,205,175,1) 32%, rgba(208,196,162,1) 47%, rgba(191,177,149,1) 65%, rgba(157,139,123,1) 100%);
    background: -o-linear-gradient(left, rgba(231,225,203,1) 0%, rgba(215,205,175,1) 32%, rgba(208,196,162,1) 47%, rgba(191,177,149,1) 65%, rgba(157,139,123,1) 100%);
    background: -ms-linear-gradient(left, rgba(231,225,203,1) 0%, rgba(215,205,175,1) 32%, rgba(208,196,162,1) 47%, rgba(191,177,149,1) 65%, rgba(157,139,123,1) 100%);
    background: linear-gradient(to right, rgba(231,225,203,1) 0%, rgba(215,205,175,1) 32%, rgba(208,196,162,1) 47%, rgba(191,177,149,1) 65%, rgba(157,139,123,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e1cb', endColorstr='#9d8b7b', GradientType=1 );
    padding: 27px 15px 25px;

    ul {
      font-size: 0;
      li {
        float: $left;
        font-size: 14px;
        width: 25%;
        text-align: center;
        padding: 0 15px;
        margin: 0 0 15px;
        .whiteBox {
          background-color: $white;
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
          color: $darkGray;
          padding: 0 0 59px;
          position: relative;
          .imgBox {
            @extend .displayBlock100;
            height: 202px;
            overflow: hidden;
            padding: 10px 15px 0;
            img {
              width: auto;
              max-width: 100%;
              height: 192px;
            }
          }
          h3 {
            /*font-family: if-ltr("roboto_condensedbold",inherit);*/
            font-size: 16px;
            font-weight: 700;
            letter-spacing: if-ltr(1px,0);
            margin: 8px 0 3px;
            padding: 0 15px;
          }
          p {
            color: rgba(51,51,51,0.7);
            font-size: 14px;
            margin: 0;
            padding: 0 15px;
          }
          h4 {
            /*font-family: if-ltr("roboto_condensedbold",inherit);*/
            font-size: 13px;
            font-weight: 700;
            letter-spacing: if-ltr(0.5px,0);
            margin: 5px 0 7px;
            padding: 0 15px;
          }
          .btn-success {
            border-color: $green;
            background-color: $green;
            @include absolute(auto,0,15,0);
            padding: 7.5px 0;
            margin: 0 auto;
            width: 63px;
            &:hover {background-color: $golden; border-color: $golden}
          }
        }
      }
    }
  }
}

//  Home page Products
.homeProducts {

  background: rgba(240,240,240,1);
  background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(77%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0 );

}
.productsListing {
  padding: 7px 15px 36px;
  > ul {
    font-size: 0;
    text-align: center;
    > li {
      font-size: 14px;
      float: $left;
      width: 20%;
      padding: 0 14px;
      margin: 22px 0;
      .whiteBox {
        background-color: $white;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        color: $darkGray;
        padding: 10px 0 59px;
        position: relative;
        .imgBox {
          @extend .displayBlock100;
          height: 144px;
          overflow: hidden;
          padding: 0 15px 0;
          img {
            width: auto;
            max-width: 100%;
            height: 144px;
          }
        }
        a {color: inherit;}
        h3 {
          /*font-family: if-ltr("roboto_condensedbold",inherit);*/
          font-size: 16px;
          font-weight: 700;
          letter-spacing: if-ltr(1px,0);
          margin: 8px 0 3px;
          padding: 0 15px;
        }
        p {
          color: rgba(51, 51, 51, 0.7);
          font-size: 13px;
          margin: 0 0 7px;
          padding: 0 15px 10px;
          position: relative;
          &:after {
            @include absolute(auto,0,0,0);
            background-color: #d0d0d0;
            content: "";
            height: 1px;
            margin: auto;
            width: 140px;
          }
        }
        h4 {
          /*font-family: if-ltr("roboto_condensedbold",inherit);*/
          font-size: 13px;
          font-weight: 700;
          letter-spacing: if-ltr(0.5px,0);
          margin: 5px 0 7px;
          padding: 0 15px;
        }
        .btn-success {
          border-color: $green;
          background-color: $green;
          @include absolute(auto,0,15,0);
          margin: 0 auto;
          padding: 7.5px 0;
          width: 63px;
          &:hover {background-color: $golden; border-color: $golden}
        }
      }
    }
  }
}

// home article section
.homeInnovation {
  background: rgba(181,169,143,1);
  background: -moz-linear-gradient(left, rgba(181,169,143,1) 0%, rgba(181,169,143,1) 36%, rgba(158,139,125,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,169,143,1)), color-stop(36%, rgba(181,169,143,1)), color-stop(100%, rgba(158,139,125,1)));
  background: -webkit-linear-gradient(left, rgba(181,169,143,1) 0%, rgba(181,169,143,1) 36%, rgba(158,139,125,1) 100%);
  background: -o-linear-gradient(left, rgba(181,169,143,1) 0%, rgba(181,169,143,1) 36%, rgba(158,139,125,1) 100%);
  background: -ms-linear-gradient(left, rgba(181,169,143,1) 0%, rgba(181,169,143,1) 36%, rgba(158,139,125,1) 100%);
  background: linear-gradient(to right, rgba(181,169,143,1) 0%, rgba(181,169,143,1) 36%, rgba(158,139,125,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a98f', endColorstr='#9e8b7d', GradientType=1 );

  @extend .displayBlock100;
  box-shadow: 0 8px 9px -9px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 0 43px;
  &:after {
    @extend .shadowMain_RHT;
  }
  .lftImgSec {
    float: $left;
    width: 37.8%;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .homeVdText {
    float: $right;
    padding: if-ltr(46px,24px) 65px 10px;
    width: 62.2%;
    .videoBtnEdH {
      background-image: url("../images/play#{if-rtl('-ar')}.png");
      background-position: if-ltr(left,right) center;
      background-repeat: no-repeat;
      background-size: auto auto;
      color: #524e3f;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.1;
      padding: 24px 70px;
      vertical-align: top;
      > span.makeShadow {
        @extend .data-text;
        @extend .displayBlock100;
        &:before {
          @extend .data-text ;
          @include absolute(0,if-ltr(auto,0),0,if-ltr(0,auto));
          color: #383838;
          /*font-family: if-ltr("roboto_condensedbold",inherit);*/
          font-weight: 700;
          font-size: 26px;
          opacity: 0.1;
        }
        &.up:before {top: auto; bottom: 0;}
        &.down:before {bottom: auto; top: 0;}
      }
    }
    h1 {
      @extend .data-text;
      color: #55473a;
      /*font-family: "roboto_condensedlight";*/
      font-size: 40px;
      font-weight: 300;
      letter-spacing: if-ltr(8px,0);
      line-height: 1.3;
      margin: if-ltr(0, 0 0 15px);
      &:before {
        @include absolute(0,if-ltr(auto,0),0,if-ltr(0,auto));
        color: $white;
        /*font-family: if-ltr("roboto_condensedbold",inherit);*/
        font-weight: 700;
        font-size: 49px;
        letter-spacing: if-ltr(9px,0);
        opacity: 0.1;
      }
    }
    p {
      color: $darkGray;
      font-size: 14px;
      margin: 0 0 10px;
      opacity: 0.7;
    }
    .btn.btn-default {
      color: #383838;
      border-color: #383838;
      font-weight: bold;
      &:hover {
        background-color: #383838; color: rgba(255,255,255,0.8);
      }
    }
  }
}
body.arb .homeInnovation {

  background: rgba(158,139,125,1);
  background: -moz-linear-gradient(left, rgba(158,139,125,1) 0%, rgba(181,169,143,1) 51%, rgba(181,169,143,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,139,125,1)), color-stop(51%, rgba(181,169,143,1)), color-stop(100%, rgba(181,169,143,1)));
  background: -webkit-linear-gradient(left, rgba(158,139,125,1) 0%, rgba(181,169,143,1) 51%, rgba(181,169,143,1) 100%);
  background: -o-linear-gradient(left, rgba(158,139,125,1) 0%, rgba(181,169,143,1) 51%, rgba(181,169,143,1) 100%);
  background: -ms-linear-gradient(left, rgba(158,139,125,1) 0%, rgba(181,169,143,1) 51%, rgba(181,169,143,1) 100%);
  background: linear-gradient(to right, rgba(158,139,125,1) 0%, rgba(181,169,143,1) 51%, rgba(181,169,143,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e8b7d', endColorstr='#b5a98f', GradientType=1 );


}
#homeVideo {
  .modal-content {
    padding: 0;
    overflow: hidden;
    iframe {
      display: block;
      margin: 0 auto 0;
      max-width: 100%;
    }
  }

}

// Home page Slider
.sliderHome {
  position: relative;
  margin: 0 0 43px;
  &:after {
    @extend .shadowMain_RHT;
  }
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-caption {
    @include absolute(0,if-ltr(0,auto),0,if-ltr(auto,0));
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0;
    text-align: $left;
    text-shadow: none;
    width: 35.7%;
    .caption_box {
      @include absolute(auto,0,50%,0);
      padding: 0 50px;
      h1 {
        @extend .data-text;
        color: #ccccbf;
        letter-spacing: if-ltr(4px,0);
        /*font-family: roboto_condensedlight;*/
        font-size: 40px;
        font-weight: 300;
        margin: 0 0 3px;
        &:before {
          @include absolute(3,if-ltr(auto,0),0,if-ltr(0,auto));
          letter-spacing: if-ltr(4.9px,0);
          color: rgba(255, 255, 255, 0.2);
          /*font-family: roboto_condensedbold;*/
          font-size: 123%;
          font-weight: 700;
          opacity: 0.7;
        }
      }
      p {
        color: $white;
        font-size: 14px;
      }
    }
  }
  .indicatorDiv {
    @include absolute(49%,if-ltr(0,auto),auto,if-ltr(auto,0));
    padding: 20px 50px 0;
    width: 35.7%;
    z-index: 1;
    .moreThen1 {
      @extend .displayInlineTop;
      padding-#{$right}: 20px;
      @include if-rtl {
        img {
          @include transform(rotate(180deg));
        }
      }
    }
    .carousel-indicators {
      @extend .displayInlineTop;
      margin: auto;
      padding: 5px 0;
      position: static;
      width: auto;
      li {
        @include transition-duration(0.5s);
        background-color: $white;
        border-radius: 50%;
        border: 0px;
        height: 6px;
        width: 6px;
        margin: 0 if-ltr(20px,0) 4px if-ltr(0,20px);
        &.active {
          background-color: #d16c04; border-color: #d16c04;height: 6.5px;width: 6.5px;
        }
      }
    }
  }
}
/*======================================
      Home page Main Section
=======================================*/

.productPage {
  .productsListing {
    background-image: url("../images/shadowMain.png");
    background-repeat: no-repeat;
    background-position: top left;
    border-top: 1px solid $golden;
    padding: 6px 25px 20px;
    position: relative;
    &:after {
      @extend .shadowMain_RHT;
      @include absolute(0,0,auto,auto);
      @include transform(rotateY(180deg));
      z-index: -1;
  }
    > ul > li .whiteBox {
      @include transition-duration(1s);
      box-shadow: none;
      &:hover {box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3)}
    }
  }
}
.productPHeading {
  padding: 0 20px 20px;
  color: $golden;
  h1 {
    font-size: 20px;
    margin: 0;
  }
  .prod_cat_ckBox {
    text-align: $right;
    li {
      @extend .displayInlineTop;
      padding-#{$left}:30px;
      input[type="checkbox"] + label,
      input[type="radio"] + label {margin-bottom: 0;}
    }
  }
}
/*======================================
      Products Page ENd
=======================================*/
.prod_dtl_box {
  background-color: #212121;
  background-image: url("../images/prod_dtl_box.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  /*min-height: 708px;*/
  padding: 20px;
  position: relative;
  .divViewMore {
    @include absolute(auto, if-ltr(24,auto) ,30, if-ltr(auto,24));
    padding-left: if-rtl(53px);
    padding-right: if-ltr(53px);
    background-position: if-ltr(right center,left center);
    background-image: url("../images/arrowD_green.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #bdbdac;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    min-height: 43px;
    padding-top: 12px;
    &:hover {color: $golden}
  }
  .proDtlSlider {
    float: $left;
    width: 50%;
    position: relative;
    text-align: center;
    a {
      @extend .displayInlineTop;
    }
    .carousel {
      min-height: 629px;
      .carousel-inner {
        .item {
          transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
          opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
          opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    .smallImages {
      @include absolute(auto,0,-6,0);
      min-height: 51px;
      .carousel-indicators {
        font-size: 0;
        margin: 0;
        padding: 0;
        position: static;
        text-align: $left;
        width: 100%;
        > li {
          border: 0 none;
          border-radius: 0;
          font-size: 14px;
          height: auto;
          text-indent: 0;
          width: auto;
          margin-#{$left}:0;
          margin-#{$right}:13px;
          margin-bottom: 6px;
          &:last-child { margin-#{$right}:0;}
        }
      }
    }
    .imgZoomEd {
      right: if-ltr(auto,100% !important);
      left:if-rtl(auto,100% !important);
      top:0 !important;
      margin-#{$left}:10px;
      img {
        background-color: $white;
      }
    }
  }
  .proDtlText {
    float: $right;
    min-height: 629px;
    padding: if-ltr(56px 3% 56px 4.3%,56px 4.3% 56px 3%);
    width: 46%;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.3;
    h2 {
      @extend .data-text;
      letter-spacing: if-ltr(4px);
      color: #CCCCBF;
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 25px;
      &:before {
        @include absolute(6,0,auto,0);
        color: $white;
        font-size: 122%;
        font-weight: 700;
        letter-spacing: if-ltr(5px);
        opacity: 0.15;
      }
    }
    ul li, P {margin: 0 0 8px}
    ul {
      margin: 15px 0;
      li {
        padding: 0 9px;
        position: relative;
        &:before {
          @include absolute(0, if-ltr(auto,0) ,auto,if-ltr(0,auto));
          content: "-";
        }
      }
    }
    h3.price {
      color: $blackBeltCol;
      font-size: 35px;
      font-weight: 700;
      line-height: 1.3;
      margin: 10px 0 18px;
      width: 100%;
      span.curr {
        font-size: 35px;
        color: $white;
        font-weight: 300;
      }
    }
    .btn-success {
      @extend .displayInlineTop;
      margin-#{$right}:6px;
      color: $white;
      background-color: $green;
      border-color: $green;
      &:hover { background-color: $golden;border-color: $golden;}
      img {
        margin-#{$right}:8px;
      }
    }
    select.selQty {
      @extend .displayInlineTop;
      background-image: url("../images/dropDBlack.png");
      min-height: 38px;
      min-width: 75px;
      padding: 0 17px;
      width: auto;
    }
  }
}













.proDtlBlow {
  padding: 0 11px;
  position: relative;
  &:before {
    @include absolute(0, if-ltr(auto,11) ,0, if-ltr(11,auto));
    content: '';
    border-left: 1px solid #d7d7d5;
  }
  &:after {
    @extend .shadowMain_RHT;
    @include transform(if-ltr(rotateY(180deg)));
    @include absolute(0, if-ltr(21,auto) ,auto, if-ltr(auto,21));
    height: 62px;
  }
  .productPHeading {
    padding: 24px if-ltr(0,40px) 12px if-ltr(40px,0);
    h1 {
      color: #9F9377;
      font-weight: 300;
    }
  }
  .productsListing {
    border-top:1px solid #d7d7d5;
    background-image: if-rtl(none); ;
    &:after {display: if-ltr(none); }
  }
}
footer .footerLinks.border4ProDtl {
  overflow: hidden;
  text-align: center;
  .container {
    display: inline-block;
    position: relative;
    text-align: $left;
    &:before {
      @include absolute(-80px, if-ltr(auto,-124px) ,0, if-ltr(-124px,auto));
      @include calc( height, '100% + 107px');
      min-height: 1000px;
      content: '';
      border-left: 1px solid #d7d7d5;
      z-index: 9;
    }
  }
}
.prodMoreDtl {
  @extend .displayBlock100;
  background-image: url("../images/prodMoreDtl.png");
  background-position: if-ltr(right top,left top);
  background-repeat: no-repeat;
  background-size: auto auto;
  padding:  0 0 15px;
  position: relative;
  z-index: 2;
  .pMD_inner {
    color: #535353;
    display: none;
    font-size: 14px;
    font-weight: normal;
    min-height: 290px;
    padding: if-ltr(50px 180px 20px 33px,50px 33px 20px 180px);
    position: relative;
    h1 {
      @extend .data-text ;
      color: $blackBeltCol;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: if-ltr(5px);
      padding: 0 5px;
      margin: 0 0 20px;

      &:before {
        @include absolute(7px,2,auto,2);
        letter-spacing: if-ltr(6px);
        font-size: 115%;
        color: rgba(33, 33, 34, 1);
        font-weight: 700;
        opacity: 0.1;
      }
    }
    ul {
      margin-bottom: 10px;
      li {
        padding: 0 9px;
        position: relative;
        &:before {
          @include absolute(0, if-ltr(auto,0) ,auto,if-ltr(0,auto));
          content: '-';

        }
      }
    }
    ul li, p {
      color: #535353;
      font-size: 14px;
      font-weight: normal;
      margin: 0 0 8px;
      line-height:1.3;
    }
    .divViewLess {
      @include absolute(0, if-ltr(-10px,auto),auto, if-ltr(auto,-18px) );
      background-position: if-ltr(right top,left top);
      background-size: auto;
      background-image: url("../images/divViewLess.png");
      background-repeat: no-repeat;
      width: 159px;
      height: 165px;
      a {
        @extend .displayBlock100;
        @include absolute(auto,0,10px,0);
        background-image: url("../images/whiteArrowUp.png");
        background-position: if-ltr(right top,left top);
        background-repeat: no-repeat;
        background-size: auto auto;
        color: #212123;
        font-size: 12px;
        min-height: 67px;
        padding-#{$right}:77px;
        padding-top: 14px;
        text-align: $right;
        text-decoration: none;
        top: auto;
        &:hover {color: $golden}
      }
    }

    &:after {
      @extend .shadowMain_RHT;
      @include transform(if-rtl(rotateY(180deg)));
      @include absolute(0, if-ltr(auto,0),auto, if-ltr(0,auto) );
      height: 62px;
    }
    * {margin-top: 0;}
  }
}
/*======================================
      Product Detail Page ENd
=======================================*/

/*======================================
        Some Extra CSS START
======================================*/

/*======================================
        Some Extra CSS END
======================================*/






/*======================================
        Responsive START
======================================*/
@media (max-width: 1500px) {
  .offersSec .offProList ul li .whiteBox .imgBox {
    height: 160px;
    img {height: 150px;}
  }
  .productsListing > ul > li .whiteBox .imgBox {
    height: 112px;
    img {height: 112px;}
  }
  .homeInnovation .homeVdText {
    padding: 20px 25px 10px;
    .videoBtnEdH {
      padding: 13px 70px;
    }
    p {margin-bottom: 6px;}
    h1 {
      font-size: if-ltr(35px, 26px); line-height: 1.1;
      &:before {
        font-size: 36px;
      }
    }
  }
  .sliderHome {
    .carousel-caption .caption_box {
      padding: 0 20px;
    }
    .indicatorDiv {
      padding: 20px 20px 0;
    }
  }
  footer .footerLinks.border4ProDtl .container {
    padding: 0 26px;
    &:before {
      @include absolute(-80px, if-ltr(auto,6px) ,0, if-ltr(6px,auto));
    }
  }
  .prod_dtl_box {
    .proDtlSlider {
      width: 52%;
      .carousel {min-height: 529px;}
    }
    .proDtlText {
      min-height: 529px;
      padding: 10px 15px 56px;
      width: 46%;
    }
  }
}
@media (max-width: 1199px) {
  header .leftSec .logoSec {margin-#{$right}: 15px;}
  header .leftSec .leftMenu ul li {padding: if-ltr(0 9px, 0 4px);}
  .homeInnovation {
    .lftImgSec {width: 30%;}
    .homeVdText {
      padding: 10px 10px 7px;
      width: 70%;
      .videoBtnEdH {
        margin: 0 0 -20px;
        padding: 14px 70px;
        @include transform(scale(0.7));
        @include transform-origin(0 0 0);
        }
      h1 {
        font-size: 26px; margin: 0 0 10px;
        &:before {font-size: 28px;}
      }
      p {
        font-size: 12px; line-height: 1.2;
      }
      .btn.btn-default {min-height: inherit;padding: 2px 15px;}
      }
  }
  .sliderHome {
    .carousel-caption {
      width: 45%;
      .caption_box {
        bottom: 20%;
        h1 {font-size: 32px}
      }
    }
    .indicatorDiv {
      top: 80%;
      width: 45%;
    }
  }
  footer .footerLinks ul li:last-child div.clearfix {display: none;}
  footer .footerLinks ul li::before {font-size: 24px;}
  footer .footerLinks.border4ProDtl .container {
    padding: 0 37px;
    &:before {
      @include absolute(-80px, if-ltr(auto,26px) ,0, if-ltr(26px,auto));
    }
  }
  .prodMoreDtl .pMD_inner h1 {font-size: 30px;}
  .prod_dtl_box {
    .proDtlSlider {
      width: 53%;
      .carousel {min-height: 441px;}
    }
    .proDtlText {
      min-height: 441px;
      padding: 0 15px 56px;
      width: 47%;
      h2 {font-size: 30px;}
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .offersSec .offProList {
    padding-left: 22px;
    padding-right: 22px;
    ul li {
      padding: 0 8px;
      .whiteBox {
        .imgBox, h3, p, h4 {
          padding-left: 8px; padding-right: 8px;
        }
      }
    }
  }
  .productsListing {
    padding-left: 22px;
    padding-right: 22px;
    > ul > li {
      padding: 0 8px;
      .whiteBox {
        .imgBox, h3, p, h4 {
          padding-left: 8px; padding-right: 8px;
        }
        .imgBox, .imgBox img {height: 100px;}
      }
    }
  }
}
@media (max-width: 1080px) {
  .imgZoomEd {display: none !important;}
  .prod_dtl_box .proDtlSlider .carousel .carousel-inner .item > a.imgBox > img + div {display: none !important;}
}
  @media (max-width: 991px) {
  header {
    .leftSec, .rightSec {width: 100%; padding: 0}
    .rightSec {
      margin-top: 15px;
      .rightTop {
        float: $right;
      }
      .menu {
        float: $left;
      }
    }
  }
  .offersSec .offProList {
    ul li {
      width: 50%;
      .whiteBox {
        .imgBox {
          height: 202px;
          img {
            height: 194px;
          }
        }
      }
    }
  }
  .productsListing > ul > li {
    width: 33.33%;
    .whiteBox {
      .imgBox, .imgBox  img {
        height: 116px;
      }
    }
  }
  .homeInnovation {
    .lftImgSec {
      padding: 25px 0;
      text-align: center;
      width: 100%;
    }
    .homeVdText {
      padding: 15px;
      width: 100%;
      .videoBtnEdH {
        @include transform(scale(1));
        margin: 0 -4px;
      }
      h1 {
        font-size: 30px;
        margin: 0 0 5px;
        &:before {
          font-size: 36px;
        }
      }
      p {font-size: 14px; line-height: 1.3; margin: 0 0 10px;}
    }
  }
  .proDtlBlow {
    padding: 0;
    &:after {
      left: if-rtl(0px);
      right: if-ltr(0px);
    }
    &:before {
      @include absolute(0, if-ltr(auto, 0), 0, if-ltr(0, auto));
    }
  }
  footer .footerLinks.border4ProDtl .container {
    padding: 0 25px;
    &:before {
      @include absolute(-80px, if-ltr(auto,15px) ,0, if-ltr(15px,auto));
    }
  }
  .prodMoreDtl .pMD_inner {
    min-height: 240px;
    padding: if-ltr(30px 75px 20px 30px,30px 30px 20px 75px);
    .divViewLess {
      width: 78px;
      a {font-size: 0;padding: 0;}
    }
  }
  .prod_dtl_box {
    .proDtlSlider {
      display: block;
      float: none;
      margin: 0 auto 15px;
      max-width: 520px;
      width: 100%;
      .carousel {min-height: 481px;}
    }
    .proDtlText {
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 520px;
      min-height: inherit;
      padding: 0 0 56px;
      width: 100%;
      h2 {
        margin-bottom: 15px;
        &:before {font-size: 110%;}
      }
    }
  }
}
@media (max-width: 767px) {
  footer {
    .copyRights {
      p, ul {text-align: center;}
      ul li { margin-bottom: 5px;}
    }
  }
  header {
    text-align: center;
    .leftSec {
      .logoSec {
        margin: 0 0 15px;
        width: 100%;
        .navbar-brand {float: $left;}
        button.navbar-toggle {
          background-color: $green;
          float: $right;
          margin: 25px 15px;
          .icon-bar {background-color: $white}
        }
      }
      .leftMenu {
        margin: 0 0 15px;
        padding: 0;
        width: 100%;
        ul li {
          display: inline-block;
          float: none;
          vertical-align: top;
          padding: 0 0 5px; width: 100%;
          &.topSearch {
            width: 100%;
            .showSearch {
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
    }
    .rightSec {
      margin: 0;
      text-align: center;
      .rightTop {
        width: 100%;
        margin-bottom: 15px;
      }
      .menu {
        width: 100%;
      }
      ul li {
        float: none;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .headingBar {padding-left: 15px; padding-right: 15px;}
  .offersSec .offProList {
    padding-left: 8px;
    padding-right: 8px;
    ul li {
      padding: 0 8px;
      .whiteBox {
        .imgBox, h3, p, h4 {
          padding-left: 8px; padding-right: 8px;
        }
      }
    }
  }
  .productsListing {
    padding-left: 8px;
    padding-right: 8px;
    > ul > li {
      padding: 0 8px;
      .whiteBox {
        .imgBox, h3, p, h4 {
          padding-left: 8px; padding-right: 8px;
        }
      }
    }
  }
  .sliderHome {
    .carousel-caption {
      bottom: 0;
      padding: 10px 10px 40px;
      top: auto;
      width: 100%;
      .caption_box {
        position: static;
        padding: 0;
        h1 {font-size: 32px}
      }
    }
    .indicatorDiv {
      bottom: 10px;
      padding: 0 10px;
      top: auto;
      width: 100%;
    }
  }
  .productPHeading {
    h1 {margin: 0 0 15px;}
    .prod_cat_ckBox {
      text-align: $left;
      li {
        padding-#{$right} : 30px;
        padding-#{$left} : 0px;
      }
    }
  }
  .prodMoreDtl .pMD_inner {
    min-height: 220px;
    padding: 30px 25px 10px;
    h1 {
      font-size: 28px;
      padding-left: if-rtl(30px) ;
      padding-right: if-ltr(30px) ;
      letter-spacing: if-ltr(2px);
      &:before {font-size: 100%;letter-spacing: if-ltr(2px);}
    }
    .divViewLess {
      background-position: -18px top;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      height: 55px;
      right: if-ltr(0);
      left: if-rtl(0);
      width: 50px;
      a {
        background-position: -16px 6px;
        bottom: 0;
        font-size: 0;
        min-height: 55px;
        padding: 0;
      }
    }
  }

}
@media (max-width: 600px) {
  .offersSec .offProList {
    ul li {
      width: 100%;
      .whiteBox {
        .imgBox, h3, p, h4 {
          margin-left: auto;
          margin-right: auto;
          max-width: 258px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .productsListing > ul > li {
    width: 50%;
    .whiteBox {
      .imgBox, .imgBox img {
        height: 124px;
      }
    }
  }
  .prod_dtl_box {
    .proDtlSlider {
      .carousel {min-height: inherit;}
      .smallImages {
        position: static;
      }
    }
    .proDtlText {
      h2 {
        &:before {font-size: 100%;}
      }
    }
  }
}
@media (max-width: 480px) {
  header {
    border-width: 0 0 25px;
    .rightSec {
      ul {
        margin: 0 auto;
        max-width: 140px;
        li {
          width: 100%;
          &.sepr {display: none;}
        }
      }
      .menu ul li a {
        padding-left: 0; padding-bottom: 0;
      }
      .btn-success {margin-top: 10px;}
    }
  }
  .productsListing > ul > li {
    width: 100%;
    .whiteBox {
      .imgBox, .imgBox img {
        height: 144px;
      }
    }
  }
  .sliderHome {
    .carousel-caption {
      background-color: black;
      position: static;
      .caption_box {
        position: static;
        padding: 0;
        h1 {font-size: 32px}
      }
    }
    .indicatorDiv {
      bottom: 10px;
      padding: 0 10px;
      top: auto;
      width: 100%;
    }
  }
  .sliderHome,
  .homeInnovation{
    margin-bottom: 25px;
  }
  .sliderHome::after,
  .homeInnovation:after,
  .offersSec:before,
  .offersSec:after{
    height: 25px;
    background-size: 100%;
    width: 25px;
  }
  .productsListing {padding-bottom: 10px;}
  .data-text::before {font-size: 101% !important;}
  footer .footerLinks {
    padding: 40px 0 25px;
    ul li {margin-bottom: 10px;}
  }
  .iOudModel {
    .popupForm {
      text-align: center;
      .forGotPass {
        display: block;
        float: none;
        margin: 0;
        width: 100%;
      }
    }
  }
  header .rightSec .menu ul {
    max-width: inherit;
    width: 100%;
    li {
      padding: 0 0 10px;
    }
  }
  header .rightSec .menu ul li.active a:after,
  header .rightSec .menu ul li a:hover:after {display: none;}
  .iOudModel .modal-body {padding-left: 0; padding-right: 0;}
  .addCartPopUp .btn {
    display: block;
    float: none !important;
    margin: 0 auto 15px;
    min-width: 210px;
    width: auto;
  }
  .addCartPopUp {padding-bottom: 0;}
  .addCartPopUp table tr td,.addCartPopUp table tr td:first-child{
    padding: 10px;
  }
  .productPHeading {
    padding:0 0 20px;
    .prod_cat_ckBox li {width: 100%;}
  }
  footer .footerLinks.border4ProDtl .container::before  {
    bottom: -25px;
    top: -40px;
  }
}





















